{% unless grid_image_width %}{%- assign grid_image_width = '300x300' -%}{% endunless %}
{% assign product_box = forloop.index | minus:1 %}
{% assign delay_time = 50 | times : product_box %} 
<div class="pr_list fl f-aic mb15 wow fadeIn" data-wow-delay="{{delay_time}}ms">
  <div class="pr_list_img">    
    <a class="db" href="{{ product.url | within: collection }}">         
      <div class="grid_img lazyload{% if secondImg and product.images.size > 1 %} primary{% endif %}" data-bgset="{% render 'prgrid-img', image: product.featured_image, sizes:'100,200,300,400' %}" data-sizes="auto" data-parent-fit="contain"></div>
    </a>   
  </div>
  <div class="fl1 pr_list_detail">
    <a href="{{ product.url | within: collection }}" class="pr_list_ttl">{{ product.title }}</a>
    {% if settings.show_vendor %}<div class="pr_list_vendor">{{ product.vendor }}</div>{% endif %}   	
    {%- unless settings.catalog-mode -%}<div class="pr_list_meta mt5">{% render 'product-price', product: product %}</div>{%- endunless -%}        
    {% if settings.show_product_review %}<div class="pr_review">{% render 'ratings', product: product %}</div>{% endif %}
  </div>
</div>