{% capture colorSwatches %}
{%- liquid
  assign is_color = false
  assign is_size = false
  assign option_index = 0

  for option in product.options
      if option == swatch
        assign option_index = forloop.index0
        assign downcased_option = swatch | downcase

        assign colorOptions = settings.colorOpt | downcase | replace:", ","," | replace:" , ","," | replace:" ,","," | split: ","
        if colorOptions contains downcased_option
        	assign is_color = true 
        endif
        assign sizeOptions = settings.sizeOpt | downcase | replace:", ","," | replace:" , ","," | replace:" ,","," | split: ","
        if sizeOptions contains downcased_option 
        	assign is_size = true 
        endif
      endif
  endfor
-%}
<div class="swatch clearfix option{{option_index |plus: 1}} mb20 w_100" data-option-index="{{ option_index }}">
  <div class="pr_form_item">
    <label class="header">{{ swatch }}: <span class="slVariant"></span></label>
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %} 
        {% assign values = values | split: ',' %}
        {% assign colorname = value | handleize %}
          <div data-value="{{ value | escape }}" class="swatch-element">
            <input class="swatchInput dn" id="{{product.id}}-{{ option_index }}-{{ value | handle }}" data-var="{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if option.selected_value == value %} checked{% endif %} />
            {% if is_color %}
            {% if settings.sw_color_type == "color" %}
            <label class="swatchLbl color {{settings.sw_color_size}} {{settings.sw_color_style}} {% if settings.clr_swatch_rect%}clr_rect {% endif%}swt{{value | handle}}" for="{{product.id}}-{{ option_index }}-{{ value | handle }}" style="background-color:{{ value | handle }};"></label>
            <span class="tooltip-label top">{{ value }}</span>
            {% else %}
            <label class="swatchLbl color {{settings.sw_color_size}} {{settings.sw_color_style}}" for="{{product.id}}-{{ option_index }}-{{ value | handle }}" style="background-image:url({{ variant.image.src | product_img_url: '100x'}});"></label>
            <span class="tooltip-label top">{{ value }}</span>
            {% endif %}
            {% else %}
            <label class="swatchLbl size {{settings.sw_color_style}}{% if settings.var_style %} square-only{% endif %}{% if settings.clr_swatch_rect%} clr_rect{% endif%}" for="{{product.id}}-{{ option_index }}-{{ value | handle }}">{{ value }}</label>            	
            {% endif %}
          </div>
      {% endunless %}
    {% endfor %}
    {% if settings.sizechart_link and is_size %}<a href="#sizechart" class="mfp sizelink" data-effect="mfp-zoom-in" >{{ 'products.product.size_chart' | t}}</a>{% endif %}
  </div>
</div>
{% endcapture %}
{{colorSwatches | strip_newlines | remove: "  " | remove: "	" }}