{%- include 'breadcrumb' -%}
<div class="page_min_h">
  <div class="page-width">   
    <h1 class="page-title {{settings.title_align}}">{{ 'customer.register.page_title' | t }}</h1>
    <div class="login-register">       
      <div class="medium-up--one-half m_auto">
        <div class="form-vertical">
          {% form 'create_customer' %}
          {{ form.errors | default_errors }}
          <label for="FirstName" class="hide">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" placeholder="{{ 'customer.register.first_name' | t }}" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

          <label for="LastName" class="hide">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" placeholder="{{ 'customer.register.last_name' | t }}" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

          <label for="Email" class="hide">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

          <label for="CreatePassword" class="hide">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" placeholder="{{ 'customer.register.password' | t }}" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

          <p>
            <input type="hidden" name="customer[accepts_marketing]" value="">           
            <label for="accepts_marketing">
               <input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" class="custCheck" checked="checked">
              <span class="checkbox"></span>  {{ 'customer.register.accepts_marketing' | t }}</label>
          </p>                   

          <p class="tc"><input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn w_100"></p>
          {% endform %}          
        </div>
      </div>
    </div>
  </div>

</div>