<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  
  {%- if settings.favicon != blank -%}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">{%- endif -%}
  {%- if settings.favicon_retina != blank -%}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_retina | img_url: '152x' }}">{%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'head-css' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'default.css' | asset_url | stylesheet_tag }}
  
  <style>
    html { padding:0 !important; }
    .template-password { height:calc(100vh); position:relative; }
    .template-password.modal--is-active { height:100vh;}   
    #LoginModal .btn .at { font-size: 18px; vertical-align: inherit;}   
    .password-main #contact_form .btn { white-space:nowrap; }
    .password_input { max-width: 400px; margin-left:auto; margin-right:auto; }
    .password__title { margin-bottom: 10px; }
    .password_heading.h4 {margin-bottom:20px;}
    @media only screen and (max-width: 766px) {     
      .password-content {margin-bottom:20px;}
      #shopify-section-password-content { width: 100% }
    }    
  </style>     

  <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  {{ content_for_header }}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
<body class="template-password"> 
    {{ content_for_layout }}
    <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <button type="button" class="btn btn--secondary modal__close js-modal-close">
        <i class="at at-times-r" aria-hidden="true"></i>
        <span class="fallback_txt">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
      <div class="modal__centered password-modal__content page-width tc">
        <div class="shopify-section">
          <div class="passCnt">
              <p class="password_heading mb20 h4">{{ 'general.password_page.login_form_heading' | t }}</p>
                {% form 'storefront_password' %}
                  {{ form.errors | default_errors }}
                  <label for="password" class="hidden_txt">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <div class="input-group password_input mb20">
                    <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                    <span class="input-group__btn">
                      <button type="submit" name="commit" class="btn">
                        {{ 'general.password_page.login_form_submit' | t }}
                      </button>
                    </span>
                  </div>
                {% endform %}
              <p class="last-child">{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
