{%- capture collectionList -%}
<div class="content-indent{% if section.settings.hide_mobile %} small--hide{% endif %} {{ section.settings.top-offeset}}">
  {% if section.settings.section_cov %}<div class="section-cover" style="background-color:{{section.settings.sec_bg_clr}};">{% endif%}
  	<div class="cl_box cl_box3 {% unless section.settings.section_width %}page-width {% else %}fullwidth-{{section.id}} fullwidth{% endunless %}" id="sliderbox-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="carousel">   	
   
    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}} wow fadeIn">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
    </div>
    {% endif %}

    {% case section.settings.grid %}
    {% when 2 %}{%- assign grid_ds = 'large-up--one-half' -%}
    {% when 3 %}{%- assign grid_ds = 'large-up--one-third' -%}
    {% when 4 %}{%- assign grid_ds = 'large-up--one-quarter' -%}
    {% when 5 %}{%- assign grid_ds = 'large-up--one-fifth' -%}
    {% when 6 %}{%- assign grid_ds = 'large-up--one-sixth' -%}
    {% when 7 %}{%- assign grid_ds = 'large-up--one-seventh' -%}
    {% endcase %}
    
    {% case section.settings.tablet-grid %}
    {% when 2 %}{%- assign grid_tb = 'medium--one-half' -%}
    {% when 3 %}{%- assign grid_tb = 'medium--one-third' -%}
    {% when 4 %}{%- assign grid_tb = 'medium--one-quarter' -%}
    {% when 5 %}{%- assign grid_tb = 'medium--one-fifth' -%}
    {% endcase %}
    
    {% case section.settings.mobile-grid %}
    {% when 1 %}{%- assign grid_mb = 'small--one-whole' -%}
    {% when 2 %}{%- assign grid_mb = 'small--one-half' -%}
    {% when 3 %}{%- assign grid_mb = 'small--one-third' -%}
    {% endcase %}

    <div class="grid-mr-{{ section.settings.grid-spacing}}">
      <div class="grid{% unless section.settings.enable_carousel %} grid--uniform{% endunless %} box-{{section.id}} collection-grid{% if section.settings.enable_carousel %} carousel arwOut{% else %} listing{% endif %} m0" {% if section.settings.enable_carousel %}data-slick='{"slidesToShow": {{ section.settings.grid }},"slidesToScroll": 1, {%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.tablet-grid }} }},{"breakpoint": 768,"settings":{"slidesToShow":{{ section.settings.mobile-grid }} }} ]}'{% endif %}>
        {% for block in section.blocks limit: section.blocks.size %}
          {% assign product_box = forloop.index | minus:1 %}
          {% assign delay_time = 50 | times : product_box %}
          <div class="grid__item tc {{grid_mb}} {{grid_tb}} {{grid_ds}} item-mr-{{ section.settings.grid-spacing}} pd0 wow fadeIn" {{ block.shopify_attributes }} data-wow-delay="{{delay_time}}ms">
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-grid-item', collection_image_size: '100,250,450,650,820' %}
          </div>
        {% endfor %}
      </div>    
    </div>
    {% if section.blocks.size == 0 %}{% include 'no-blocks' %}{% endif %}
  </div>
  {% if section.settings.section_cov %}</div> {% endif%}
</div>

<style>
  .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-mbl}}px; padding-right:{{ section.settings.pad-mbl}}px; }
  .box-{{section.id}} .cl_item_ttl,
  .box-{{section.id}} .counts { color:{{ section.settings.collection_ttl_hm}}; }
  .grid-mr-{{ section.settings.grid-spacing}} { margin:0 -{{ section.settings.grid-spacing-mbl | divided_by: 2.0  }}px; } 
  .item-mr-{{section.settings.grid-spacing}} .cl_item { margin:0 {{ section.settings.grid-spacing-mbl | divided_by: 2.0  }}px {{section.settings.grid-spacing-mbl}}px;}
 
  .box-{{section.id}} .cl_item .img { border-radius:50%; overflow:hidden; margin-bottom:10px; }  
  
  @media only screen and (min-width: 768px){
   .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-desk}}px; padding-right:{{ section.settings.pad-desk}}px; }
   .grid-mr-{{ section.settings.grid-spacing}} { margin:0 -{{ section.settings.grid-spacing | divided_by: 2.0  }}px; }
   .item-mr-{{ section.settings.grid-spacing}} .cl_item { margin:0 {{ section.settings.grid-spacing | divided_by: 2.0  }}px {{ section.settings.grid-spacing}}px;}
  }
  
  @media only screen and (max-width: 1024px){
    .box-{{section.id}} .cl_item .img img {transform:none;}
  }
</style>
{%- endcapture -%}
{{collectionList | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Round Image Banners",
    "class": "index-section",
    "max_blocks": 15,
    "settings": [	 	 
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Collection List",
		"info":"Use <strong>text here</strong> to make headings bold"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },	  	 
	     {
		 "type": "paragraph",
		 "content":"[preview different style](https://www.adornthemes.com/different-style-for-collection-list/)"
      }, 
 		{
        "type": "header",
        "content": "Appearance Section ==="
      },
	   {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
      }, 
	   {
           "type": "checkbox",
           "id": "hide_mobile",
           "label": "Hide Section in Mobile?",
           "default": false
        },	 
      {
        "type": "checkbox",
        "id": "section_cov",
        "label": "Add Background?",
        "default": false
      },
	  {
        "type": "color",
        "id": "sec_bg_clr",
        "label": "Background",
		"default":"#fafafa",
		"info":"select light color"
	  },
	 {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	  },
 		{
        "type": "paragraph",
        "content": "Left/Right Padding for Fullwidth ==="
      }, 	
      {
        "type": "range",
        "id": "pad-desk",
        "label": "Desktop",
        "default": 55,
        "min": 0,
        "max": 100,
        "step": 1
      },      
      {
        "type": "range",
        "id": "pad-mbl",
        "label": "Mobile",
        "default": 15,
        "min": 0,
        "max": 15,
        "step": 1
      }, 
	 {
        "type": "header",
        "content": "Appearance Grid ==="
      },
 	 {
		"type":"checkbox",
		"id":"enable_carousel",
		"label":"Enable Carousel",
		"default": true
	  },
	  {
        "type": "range",
        "id": "grid-spacing",
        "label": "Grid Spacing",
        "default": 30,
        "min": 0,
        "max": 30,
        "step": 1,
		"unit":"px"
		
      },
     {
        "type": "range",
        "id": "grid-spacing-mbl",
        "label": "Grid Spacing (mobile)",
        "default": 15,
        "min": 0,
        "max": 15,
        "step": 1,
		"unit":"px"		
      },          	 
 	  {
		"type":"checkbox",
		"id":"product_count",
		"label":"Show Products Count?",
		"default": false
	  }, 		
 	  {
        "type": "select",
        "id": "btn-style",
        "label": "Select Button",
        "default": "btn1",
        "options": [
          {
            "label": "Solid Button 1",
            "value": "btn1"
          },
          {
            "label": "Solid Button 2",
            "value": "btn2"
          },
		  {
            "label": "Solid Button 3",
            "value": "btn3"
          },
 		  {
            "label": "Border Button 1",
            "value": "bdr-btn1"
          },
 		{
            "label": "Border Button 2",
            "value": "bdr-btn2"
          } 
        ]
      },
   {
        "type": "select",
        "id": "btn-size",
        "label": "Button Size",
        "default": "btn-small",
        "options": [
          {
            "label": "Small",
            "value": "btn-small"
          },
          {
            "label": "Medium",
            "value": "btn-med"
          },
		  {
            "label": "Large",
            "value": "btn-large"
          } 		  
        ]
      },
	  {
        "type": "paragraph",
        "content": "Items per row ==="
      }, 	
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 5,
        "min": 2,
        "max": 7,
        "step": 1
      },
      {
        "type": "range",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": 3,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": 2,
        "min": 1,
        "max": 3,
        "step": 1
      },
	  {
        "type": "header",
        "content": "Appearance Text ==="
      },
	 {
        "type": "color",
        "id": "collection_ttl_hm",
        "label": "Title",
        "default": "#000"
     },
	 {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable Image zoom on hover?",
        "default": true
     },
	 {
        "type": "paragraph",      
        "content": "Set font size from --> Theme Settings --> Fonts and Colors --> Collection List"
     }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
		  {
			"type":"image_picker",
			"id":"image",
			"label":"Upload Image",
			"info":"Image size is flexible but it should be in square and same size for all collections"
		  },
		  {
 			"type":"textarea",
			"id":"title",
			"label":"Title",
			"default":"<span class='fwm'>SHOP WOMEN</span>",
			"info":"use <strong>your text here</strong> to make it bold"
		  },
         {
            "type": "text",
            "id": "collection_btn",
            "label": "Button Text",            
			"info":"Keep it empty to hide button" 
          },
		   {
          "type": "url",
          "id": "url",
          "label": "Link (optional)",
          "info": "Keep it empty to use 'collection url'."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "2 - Round Image Banners ",       
        "settings": {
          "grid": 4
        },
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
		  {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}