{%- capture customContent -%}
<div class="content-indent {{ section.settings.top-offeset}} wow fadeIn">
  {% if section.settings.section_cov %}<div class="section-cover" style="background-color:{{section.settings.sec_bg_clr}};">{% endif%}	
  <div class="custom-block {{section.settings.style}}{% unless section.settings.section_width %} page-width {% else %}fullwidth-{{section.id}} {% endunless %}">  

    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}} wow fadeIn">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
    </div>
    {% endif %}

    <div class="custom-content">
      {% for block in section.blocks %}

      {%- assign custom_box = forloop.index | minus:1 -%}	 
      {%- assign delay_time = 100 | times : custom_box -%}

      {% case block.settings.width %}
      {% when '25%' %}         
      {%- assign block_width = 'small--one-whole medium-up--one-quarter' -%}
      {%- assign image_size = '350x' -%}
      {% when '33%' %}        
      {%- assign block_width = 'small--one-whole medium-up--one-third' -%}
      {%- assign image_size = '530x' -%}
      {% when '50%' %}          
      {%- assign block_width = 'small--one-whole medium-up--one-half' -%}
      {%- assign image_size = '800x' -%}
      {% when '66%' %}         
      {%- assign block_width = 'small--one-whole medium-up--two-thirds' -%}
      {%- assign image_size = '850x' -%}
      {% when '75%' %}        
      {%- assign block_width = 'small--one-whole medium-up--three-quarters' -%}
      {%- assign image_size = '850x' -%}
      {% when '100%' %}          
      {%- assign block_width = 'one-whole' -%}
      {%- assign image_size = '1920x' -%}
      {% endcase %}    

      <div class="ct_item ct_item-{{block.id}} {{ block_width }} {{ block.settings.alignment }}" {{ block.shopify_attributes }}>
        <div class="ct_item_in ct_item_in-{{ block.type }} wow fadeIn" data-wow-delay="{{delay_time}}ms">
          {% case block.type %}
          
		  {% when 'image' %}
          {% if block.settings.image != blank %}
          {%- assign image_alt = block.settings.image.alt -%}
          {% if block.settings.imgurl != blank %} <a href="{{block.settings.imgurl}}"> {% endif %}
          {{ block.settings.image | img_url: 'master' | img_tag: image_alt, 'mb20' }}
          {% if block.settings.imgurl != blank %} </a> {% endif %}
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          
          {% when 'text' %}
           <div class="{{ block.settings.align_text }}">
               {% if block.settings.dis_img %}
                 {% if block.settings.image != blank %}
                     {%- assign image_alt = block.settings.image.alt -%}
                     {% if block.settings.btnurl != blank %} <a href="{{block.settings.btnurl}}"> {% endif %}
                     {{ block.settings.image | img_url: image_size | img_tag: image_alt, 'mb20' }}                
                     {% if block.settings.btnurl != blank %} </a> {% endif %}
             	 {% else %}
            		{{ 'image' | placeholder_svg_tag: 'placeholder-svg mb20' }}
               	  {% endif %}
             {% endif %}
             <div class="custom-text">                	
               {% if block.settings.title != blank %}
               <h3 class="mb15 {{block.settings.font-size}}">{{ block.settings.title }}</h3>
               {% endif %}
               {% if block.settings.text != blank %}
               <div class="rte-setting">{{ block.settings.text }}</div>
               {% endif %}
               {% if block.settings.btntxt and  block.settings.btnurl != blank %}                             
               <a class="btn mb20 {{block.settings.btn-size}} {{block.settings.btn-style}}" href="{{block.settings.btnurl}}">{{ block.settings.btntxt }}</a>
               {% endif %}
             </div>
             
             <style>
               {% if block.settings.removemr %}
               .ct_item-{{block.id}} .custom-text h3 {margin-bottom:5px;}
               .ct_item-{{block.id}} .tl img { margin-bottom:10px;}
               {% endif %}
               {% if block.settings.eblock_bg %}
                .ct_item-{{block.id}} .custom-text { margin-bottom:0;} 
               .ct_item-{{block.id}} { align-self:stretch; display:flex;}  
               .ct_item-{{block.id}}.f-ass .ct_item_in {align-items: start;}
               .ct_item-{{block.id}}.f-ase .ct_item_in {align-items: end;}      
               .ct_item-{{block.id}} .ct_item_in-text {width:100%; padding:30px; display:flex; align-items: center; align-self:stretch;  background:{{block.settings.block_bg}};}
               .ct_item-{{block.id}} .ct_item_in-text > div { width:100%;}

               .ct_item-{{block.id}} h3,  .ct_item-{{block.id}} p { color:{{block.settings.block_txt}};}
               {% endif %}              	
             </style>             
             
            </div>
          
         {% when 'video' %}
            <div class="video_bnr pr">
              {% if block.settings.video_url == blank and block.settings.mp4url == blank %}
              <div class="vd-wrap">
                <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
              </div>      
              {% else %}  		                   
              {% if block.settings.video_url != blank and block.settings.video_style == "videopp" %}                                                       		
              <a href="{{ block.settings.video_url}}?controls=0&autoplay=1&rel=0&showinfo=0" class="video_pop fl f-jcc f-aic">                           
                {% if block.settings.videposter != blank %}
                <img src="{{ block.settings.videposter | img_url: 'master' }}" class="db">
                <i class="at at-play-cir" aria-hidden="true"></i>
                {% else %}
                <p class="db p30">Please upload video poster</p>
                {% endif %}

              </a>       
              <script type="text/javascript">
                $(document).ready(function(){                
                  $('.video_pop').magnificPopup({ type: 'iframe', mainClass: 'mfp-zoom-in', removalDelay: 160, preloader: false, fixedContentPos: false });                                                                   
                });
              </script>               
              {% elsif block.settings.video_url != blank and block.settings.video_style == "bgvideo" %}
              <div class="vd-wrap">
                {% if block.settings.video_url.type == "youtube" %}
                <iframe class="lazyload" data-src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?controls=0&autoplay=1&rel=0&showinfo=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% endif %}
                {% if block.settings.video_url.type == "vimeo" %}
                <iframe class="lazyload" data-src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?background=1&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                {% endif %}
              </div>                       
              {% elsif block.settings.video_url == blank and block.settings.mp4url != blank %}
              <video {% if block.settings.enable_cntrl %}controls {% endif %}width="100%" {% if block.settings.is_autoplay and block.settings.enable_sound == true %}autoplay {% elsif block.settings.is_autoplay and block.settings.enable_sound == false %}autoplay muted {% endif %}{% if block.settings.enable_sound == false %}muted {% endif %}loop playsinline>               
                <source src="{{block.settings.mp4url}}" codecs="avc1.4d002a, mp4a.40.2" type="video/mp4">
                Your browser does not support the video tag.
                </source>
              </video>    
            {% endif %} 
            {%- if block.settings.video_style == "bgvideo" and block.settings.title != blank -%}
            <div class="video_txt {{ block.settings.text_align }} p20">             
              {%- if block.settings.title != blank or block.settings.btntxt != blank %} 
                         <div class="{% if block.settings.text-align %}tl{% else %}tc{% endif %}">
                           {%- if block.settings.title != blank -%}<span class="{% if block.settings.hide_text %}small--hide {% endif %}{{block.settings.font-size}}" style="color:{{block.settings.text_cl}};">{{ block.settings.title }}</span>{%- endif -%}      
                           {%- if block.settings.btntxt != blank -%}<br/><a href="{{block.settings.btnurl}}" class="mt15 btn{% if block.settings.hide_btn %} small--hide{% endif %}">{{ block.settings.btntxt}}</a>{%- endif -%}
              </div>
              {% endif %}
            </div>
            {%- endif -%}
            {% endif %}
          </div>
          
          {% when 'product' %}
          {%- assign product = all_products[block.settings.product] -%}
          {% if product.title.size > 0 %}
          	{% include 'product-card-grid', grid_image_width: image_size %}
          {% else %}         
            <div class="grid_bx">
              <a class="grid_lnk" href="#">
                <div class="grid_img">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div><br/>
                <div class="h4 grid_title">{{ 'homepage.onboarding.product_title' | t }}</div>                
                <div class="grid_meta">
                  {{ 1999 | money }}
                </div>
              </a>
            </div>
          {% endif %}
         
          {% when 'collection' %}
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item', collection_image_size: image_size, font_size:{{block.settings.font-size}} %}
          <style> .ct_item-{{block.id}} .cl_item_ttl  { color:{{block.settings.ttl_txt}}; background:{{block.settings.ttl_bg}};} </style>          
          {% when 'html' %}
            {% if block.settings.code != blank %}
           <div class="rte"> {{ block.settings.code }}</div>              
            {% endif %}
          {% endcase %}
        </div>
      </div>

      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
  </div>
  {% if section.settings.section_cov %}</div> {% endif%}
</div>
<style>
  
 @media only screen and (min-width: 768px) {
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-desk}}px; padding-right:{{ section.settings.pad-desk}}px; }
  }   
  @media only screen and (max-width: 767px) {
     .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-mbl}}px; padding-right:{{ section.settings.pad-mbl}}px; }
   }   
</style>
{%- endcapture -%}
{{ customContent | strip_newlines | remove: "	" }}
{% schema %}
  {
    "name": "Custom Block",
    "class": "index-section",
    "settings": [	 
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Custom content",
		"info":"Use <strong>text here</strong> to make headings bold"
      },
 	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },
	 {
		 "type": "paragraph",
		 "content":"Section==="
      },
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },
		 {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	  },
	 {
        "type": "paragraph",
        "content": "Left/Right Padding for Fullwidth ==="
      }, 	
      {
        "type": "range",
        "id": "pad-desk",
        "label": "Desktop",
        "default": 55,
        "min": 0,
        "max": 100,
        "step": 1
      },     
      {
        "type": "range",
        "id": "pad-mbl",
        "label": "Mobile",
        "default": 15,
        "min": 0,
        "max": 15,
        "step": 1
      },
	 {
        "type": "checkbox",
        "id": "section_cov",
     	"label": "Add Background?",
        "default": false
      },
      {
        "type": "color",
        "id": "sec_bg_clr",
        "label": "Background",
        "default":"#fafafa",	
        "info":"select light color"
      },	  
	 {
        "type": "select",
        "id": "prbox_style",
        "label": "Products Grid Style",
        "default": "grid_1",
		"info": "[preview grid style](https:\/\/optimal-demos.myshopify.com\/pages\/grid-style)",
        "options": [
          {
            "value": "grid_1",
            "label": "Style 1 - Default Info Center"
          },
          {
            "value": "grid_2",
            "label": "Style 2 - Info Hover Image"
          },
          {
            "value": "grid_3",
            "label": "Style 3 - Info Below Image"
          },
          {
            "value": "grid_4",
            "label": "Style 4 - Default Info Left"
          },
		   {
            "value": "grid_5",
            "label": "Style 5 - Top Right Icons"
          },
		 {
            "value": "grid_6",
            "label": "Style 6 - Top Right Wishlist"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text / Image & Text",
        "settings": [
		   {
            "type": "checkbox",
            "id": "dis_img",
            "label": "Display Image?",
			"default":true
          },
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading", 
			"default":"TRENDING OUTFITS"
          },
		 {
            "type": "select",
            "id": "font-size",
            "label": "Heading Font Size",
            "default": "h4",
            "options": [
              {
                "value": "h1",
                "label": "H1 size"
              },
			 {
                "value": "h2",
                "label": "H2 size"
              },
			  {
                "value": "h3",
                "label": "H3 size"
              },
 			  {
                "value": "h4",
                "label": "H4 size"
              },
 			  {
                "value": "h5",
                "label": "H5 size"
              },
			  {
                "value": "h6",
                "label": "H6 size"
              }
			]	
		  },
 			 {
            "type": "checkbox",
            "id": "removemr",
            "label": "Remove heading bottom margin", 
			"default":false
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Follow the most popular trends and get  exclusive items<br/>from Avone shop. Fashion should be a form of escapism <br/>and not a form of imprisonment</p>"
          },
		 {
            "type": "text",
            "id": "btntxt",
            "label": "Button Text",
            "default": "Shop Now"
          },
		  {
            "type": "url",
            "id": "btnurl",
            "label": "Button Link",
			"default": "/"
          },
		  {
            "type": "select",
            "id": "btn-style",
            "label": "Select Button",
            "default": "btn1",
            "options": [
              {
              "label": "Solid Button 1",
              "value": "btn1"
              },
              {
              "label": "Solid Button 2",
              "value": "btn2"
              },
              {
              "label": "Solid Button 3",
              "value": "btn3"
              },
              {
              "label": "Border Button 1",
              "value": "bdr-btn1"
              },
              {
              "label": "Border Button 2",
              "value": "bdr-btn2"
              } 
            ]
          },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button Size",
            "default": "btn-med",
            "options": [
                {
                "label": "Small",
                "value": "btn-small"
                },
                {
                "label": "Medium",
                "value": "btn-med"
                },
                {
                "label": "Large",
                "value": "btn-large"
                } 		  
         	 ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical Alignment",
            "default": "f-ass",
            "options": [
              {"value": "f-ass", "label": "Top"},
              {"value": "f-asc", "label": "Middle"},
              {"value": "f-ase", "label": "Bottom"}
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text Alignment",
            "default": "tc",
            "options": [
              {"value": "tl", "label": "Left"},
              {"value": "tc", "label": "Center"},
              {"value": "tr", "label": "Right"}
            ]
          },
		 {
          "type": "checkbox",
          "id": "eblock_bg",
          "label": "Add Background?",
          "default": false
          },
          {
          "type": "color",
          "id": "block_bg",
          "label": "Background",
          "default":"#f5f5f5"         
          },
		  {
          "type": "color",
          "id": "block_txt",
          "label": "Text",
          "default":"#000"         
          },
		 {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
         {	
            "type": "url",
			"id": "imgurl",
			"label": "Image Url"
          },         
           {
            "type": "select",
            "id": "alignment",
            "label": "Vertical Alignment",
            "default": "f-ass",
            "options": [             
              {"value": "f-ass", "label": "Top"},
              {"value": "f-asc", "label": "Middle"},
              {"value": "f-ase", "label": "Bottom"}         
            ]
          },
		 {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
       {
        "type": "video",
        "name": "Video",
        "settings": [
         {
          "type": "header",       
          "content": "YouTube or Vimeo"          
		},
		{
            "type": "select",
            "id": "video_style",
            "label": "Select Style",
            "default": "videopp",			
            "options": [
              {
                "value": "videopp",
                "label": "Video Popup - Youtube Or Vimeo"
              },
              {
                "value": "bgvideo",
                "label": "Background Video with Text"
              }			  
			]
        },
          {
          "type": "image_picker",
          "id": "videposter",
          "label": "Video Popup Poster"
        },
        {
              "type": "video_url",
              "id": "video_url",
              "label": "Video link",
              "accept": ["youtube", "vimeo"],
			  "info":"[How to copy youtube url?](https://optimal-demos.myshopify.com/pages/video-section)"
        },		        		
 	  {
        "type": "header",
          "content": "Or MP4 Video [recommended]"
      }, 
	 {
        "type": "textarea",
        "id": "mp4url",
        "label": "Mp4 video link",
        "info":"[How to get video url?](https://www.adornthemes.com/knowledge-base/how-to-get-mp4-video-link/)"
      },
      {
        "type":"checkbox",
        "id":"enable_cntrl",
        "label":"Enable Controls?",
        "default": false,
        "info":"Display video play/pause buttons"
      },
      {
        "type":"checkbox",
        "id":"is_autoplay",
        "label":"Enable Autoplay?",
        "default": false,
        "info":"Autoplay will not work on Mobile with SOUND"
      },
        {
          "type":"checkbox",
          "id":"enable_sound",
          "label":"Enable Sound?",
          "default": false,
          "info":"Autoplay will not work on Mobile with SOUND"
        },
        {
          "type": "header",
          "content": "Background Video Caption"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Video Text",
		  "default": "<b>VIDEO ENCOURAGE CUSTOMERS TO PURCHASE MORE</b>"
        },  
		{	
           "type": "checkbox",
           "id": "hide_text",
           "label": "Hide Text in Mobile?",
           "default": false		  
        },
		{
            "type": "select",
            "id": "font-size",
            "label": "Video Font Size",
            "default": "h4",
            "options": [
              {
                "value": "h1",
                "label": "H1 size"
              },
			 {
                "value": "h2",
                "label": "H2 size"
              },
			  {
                "value": "h3",
                "label": "H3 size"
              },
 			  {
                "value": "h4",
                "label": "H4 size"
              },
 			  {
                "value": "h5",
                "label": "H5 size"
              },
			  {
                "value": "h6",
                "label": "H6 size"
              }
			]
			}, 		
 		{
          "type": "color",
          "id": "text_cl",
          "label": "Text Color",
          "default": "#fff"
        },
  		{	"type": "checkbox",
            "id": "text-align",
            "label": "Text Align Left",
            "default": false            
          },
        {
            "type": "select",
            "id": "text_align",
            "label": "Position",
            "default": "bcenter",	
			"info":"For mobile view text will display at bottom",
            "options": [
 			  { "label": "Top Left",      "value": "tleft" },
  			  { "label": "Top Center",    "value": "tcenter" },
  			  { "label": "Top Right",     "value": "tright" },             
			  { "label": "Left",  		  "value": "mleft" },
 			  { "label": "Center", 		  "value": "mcenter" },
			  { "label": "Right",  		  "value": "mright" },
 			  { "label": "Bottom Left",   "value": "bleft" },						 
              { "label": "Bottom Center", "value": "bcenter" }, 						 
			  { "label": "Bottom Right",  "value": "bright" }
              
            ]
          },
        {
        "type": "text",
        "id": "btntxt",
        "label": "Button Text",
		"default":"Shop Now"
        },
		{
        "type": "url",
        "id": "btnurl",
        "label": "Button Url",
		"default":"/"
       },
		{
           "type": "checkbox",
           "id": "hide_btn",
           "label": "Hide Button in Mobile?",
           "default": true,	
		   "info":"Due to less space on mobile, We advise either to hide button or text."
        },		                         
		 {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },          
		{
            "type": "select",
            "id": "alignment",
            "label": "Vertical Alignment",
            "default": "f-ass",
            "options": [             
              {"value": "f-ass", "label": "Top"},
              {"value": "f-asc", "label": "Middle"},
              {"value": "f-ase", "label": "Bottom"}         
            ]
          },
		 {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
         {
			"type":"image_picker",
			"id":"image",
			"label":"Upload Image"			
		  },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
		  {
 			"type":"textarea",
			"id":"title",
			"label":"Title",
				"default":"<span class='fwsb'>SHOP WOMEN</span>",
			"info":"use <strong>your text here</strong> to make it bold"
		  },
			{
            "type": "color",
            "id": "ttl_txt",
            "label": "Title color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "ttl_bg",
            "label": "Title background",
            "default": "#fff"
          },
		{
            "type": "select",
            "id": "font-size",
            "label": "Title Font Size",
            "default": "h6",
            "options": [
              {
                "value": "h1",
                "label": "H1 size"
              },
			 {
                "value": "h2",
                "label": "H2 size"
              },
			  {
                "value": "h3",
                "label": "H3 size"
              },
 			  {
                "value": "h4",
                "label": "H4 size"
              },
 			  {
                "value": "h5",
                "label": "H5 size"
              },
			  {
                "value": "h6",
                "label": "H6 size"
              }
			]	
		  },
		  {
          "type": "url",
          "id": "url",
          "label": "Link (optional)",
          "info": "Keep it empty to use 'collection url'."
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "7 - Custom Block",      
        "blocks": [
          {
            "type": "text"
          },
		  {
            "type": "text"
          }		 
        ]
      }
    ]
  }
{% endschema %}