<div class="content-indent {{ section.settings.top-offeset}}">
  {%- assign product = all_products[section.settings.featured_product] -%}
  {%- if product.empty? -%}{%- assign section_onboarding = true -%}{%- endif -%}
  <div class="wow fadeIn" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product">
    <div class="page-width">
      <meta itemprop="name" content="{{ product.title }}">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
      {% comment %}Get first variant, or deep linked one{% endcomment %}
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign product_thumb_size = '160x160' -%}
      {%- assign product_image_zoom_size = '1024x1024' -%}
      {%- assign enable_zoom = section.settings.enable_zoom -%}

      {%- case section.settings.image-col -%}
        {% when 'sm' %}
          {%- assign product_image_width = 'medium-up--one-third' -%}
          {%- assign product_description_width = 'medium-up--two-thirds' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
          {%- assign product_image_size = '450x' -%}
        {% when 'md' %}
          {%- assign product_image_width = 'medium-up--one-half' -%}
          {%- assign product_description_width = 'medium-up--one-half' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
          {%- assign product_image_size = '700x' -%}
        {% when 'lg' %}
          {%- assign product_image_width = 'medium-up--two-thirds' -%}
          {%- assign product_description_width = 'medium-up--one-third' -%}
          {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
          {%- assign product_image_size = '900x' -%}
      {%- endcase -%}
      <div class="grid grid-tbl product-single home m0 wow fadeIn">
        <div class="grid__item pd0 pr_photoes {{ product_image_width }}">
            {%- assign featured_img_src = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
            {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
            <div class="pr_lg_img" data-product-single-media-group>
              <div class="primgSlider" data-slick='{"slidesToShow":1,"slidesToScroll": 1, "centerMode": false, "infinite":true, "fade": true,{% if settings.rtl %} "rtl": true,{% endif %} "asNavFor": ".pr_thumbs_{{section.id}}", "responsive":[{"breakpoint": 767,"settings":{"slidesToShow": 1 }} ]}'>
                  {% for media in product.media %}
                      {%- assign imgNo = forloop.index0 -%}
                      {% case media.media_type %}
                          {% when 'image' %}
                              <div id="{{media.id}}" class="pr_zoom_{{section.id}} pr_photo{% if enable_zoom %} zoomcr{% endif %}" {% if enable_zoom %}data-zoom="{{ media | img_url: product_image_zoom_size }}"{% endif %} data-slide="{{imgNo}}">
                                  {%- assign primg_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                  <span class="imgWrapper" style="max-width:{% if settings.pimg_maxHt != blank %}{{ settings.pimg_maxHt | times: media.aspect_ratio }}{% else %}{{media.width}}{% endif %}px;">
                                      <img class="img_fl lazyload FeaturedImage-{{ section.id }} product-featured-img{% if enable_zoom %} js-zoom-enabled{% endif %}{% if forloop.first %} lazypreload{% endif %}" src="{{ media | img_url: "100x" }}" width="100" height="100"
                                          data-src="{{ primg_url }}" data-widths="[350, 500, 650, 800, 1000, 1300]" data-aspectratio="{{ media.aspect_ratio }}" data-sizes="auto" alt="{{ media.alt | escape }}">
                                  </span>
                              </div>
                          {% when 'external_video' %}
                            <div class="pr_photo product-single__media videoSlide" data-media-id="{{ media.id }}" data-slide="{{imgNo}}">
                              <div class="video-wrapper">{{ media | external_video_tag }}</div>
                            </div>
                          {% when 'video' %}
                            <div class="pr_photo product-single__media videoSlide" data-media-id="{{ media.id }}" data-slide="{{imgNo}}">
                              {%- assign videoThumb = media | img_url: '700x' -%}
                              {{ media | video_tag: poster: videoThumb, controls: true, muted: true, loop: true, playsinline: true, webkit-playsinline: true }}
                            </div>
                          {% when 'model' %}
                              <div class="pr_photo product-single__media" id="FeaturedMedia-{{ section.id }}-{{ media.id }}-wrapper" data-product-media-type-model data-product-single-media-wrapper data-media-id="{{ section.id }}-{{ media.id }}">
                                <div class="prMedia" style="padding-top:100%">{{ media | model_viewer_tag: image_size: product_image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}</div>
                              </div>
                            {% else %}
                              <div class="pr_photo product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">{{ media | media_tag }}</div>
                      {% endcase %}
                  {% endfor %}
              </div>

              {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
              {%- if first_3d_model -%}
                <button aria-label="{{ 'products.product.view_in_space_label' | t }}" class="btn w_100 product-single__view-in-space"
                  data-shopify-xr data-shopify-model3d-id="{{ first_3d_model.id }}" data-shopify-title="{{ product.title | escape }}"
                  data-shopify-xr-hidden><span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span></button>
              {%- endif -%}

              {% unless product.empty %}
              <div class="product-btn">     
                {%- if settings.enable_wishlist -%}<a class="wishlist addto-wishlist" href="{{pages[settings.wishlist_page].url}}" rel="{{ product.handle | handleize }}"><i class="at at-heart-l"></i><span class="tooltip-label left"><span class="msg">{{ 'products.wishlist.add_to_wishlist' | t}}</span></span></a>{%- endif -%}      
                  {%- if product.metafields.my_fields.video != blank -%}<a href="{{product.metafields.my_fields.video}}" class="popup-video pr"><i class="at at-play-cir" aria-hidden="true"></i> <span class="tooltip-label">{{ 'products.product.video' | t }}</span></a>{%- endif -%}
              </div>
              {% endunless %}
              
              {% if settings.pr_lbl %}
              <span class="pr_lbl {{ settings.select_label_style }}">
                  {%- if settings.sale_lbl and product.compare_at_price > product.price -%}<label class="lbl on-sale">{{ 'products.product.on_sale' | t}}</label>{%- endif -%}
                  {%- if product.tags contains settings.pr_label1 -%}<label class="lbl pr_lbl1">{{settings.pr_label1}}</label>{%- endif -%}
                  {%- if product.tags contains settings.pr_label2 -%}<label class="lbl pr_lbl2">{{settings.pr_label2}}</label>{%- endif -%}
                  {%- if product.tags contains settings.pr_label3 -%}<label class="lbl pr_lbl3">{{settings.pr_label3}}</label>{%- endif -%}
              </span>
              {% endif %}
              <div class="thumbs_nav hide">
                  <div class="pr_thumbs pr_thumbs_{{ section.id }}" 
                       data-slick='{"slidesToShow":{{thumbcount}},"slidesToScroll": 1,"infinite":false,{% if settings.thumbnail_pos != "bottom" %}"verticalSwiping": true, "vertical": true,{% endif %} "asNavFor": ".primgSlider", "focusOnSelect": true,{% if settings.rtl %} "rtl": true,{%- endif -%}
                      "responsive":[{"breakpoint": 767,"settings":{"slidesToShow": 5,{% if settings.thumbnail_pos != "bottom" %}"vertical":false,"verticalSwiping": false,{% endif %}"swipe":true }} ]}'>
                      {% for media in product.media %}
                          {%- assign imgNo = forloop.index0 -%}
                          <div class="pr_thumbs_item{% if media.media_type == 'video' or media.media_type == 'external_video'  %} video-thumb{% endif %}" data-slide="{{imgNo}}">
                              <a id="{{media.id}}" href="{{ media | img_url: '100x' }}" class="db pr_thumb pr_thumb_{{ section.id }} lazyload{% unless media.media_type == 'video' or media.media_type == 'external_video' %} primgthumb{% endunless %}{% if featured_img_src == media %} activeSlide{% endif %}"></a>
                          </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
        </div>
        <div class="grid__item pd0 {{ product_description_width }} {% if section.settings.light_bg %}bg{% endif %}{% if section.settings.image-col == "lg" or section.settings.image-col == "md" %} small_view{% endif %}">
          <div class="pr_meta mb0 {% if section.settings.txt-center %}tc{% endif %}">
            {% unless section_onboarding %}
            {%- assign compare_at_price = current_variant.compare_at_price -%}
            {%- assign price = current_variant.price -%}
            {%- assign price_varies = current_variant.price_varies -%}
            {%- assign available = current_variant.available -%}
            {% else %}
            {%- assign compare_at_price = 1999 -%}
            {%- assign price = 1999 -%}
            {%- assign price_varies = false -%}
            {%- assign available = true -%}
            {% endunless %}                      

            <h2 class="grid_item-title h2">{{ section.settings.title }}</h2>                       
            
            {% if section.settings.show_vendor %}<p class="pr_vendor mb5">{{ product.vendor | link_to_vendor }}</p>{% endif %}  
     
            <h2 itemprop="name" class="pr_title mb10"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>                         
                     
            {%- if settings.show_product_review -%}<p class="mb20">{% include 'ratings' %}</p>{%- endif -%}	                                        

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              {%- unless settings.catalog-mode -%}
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
              <!-- price-->
              <p class="pr_price_single pr_price_single-{{ section.id }}">
                {% if current_variant.compare_at_price > current_variant.price %}
                <span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
                <span class="pr_price pr_price-{{ section.id }} pr_price_sale pr_price_sale_single">
                  <span id="ProductPrice-{{ section.id }}">{{ current_variant.price | money }}</span>            
                </span>
                <s id="ComparePrice-{{ section.id }}" class="pr_price">{{ current_variant.compare_at_price | money }}</s>

                {% if settings.show_saleoff %}  
                <span class="discount-badge">
                  <span itemprop="name">{{ 'products.product.you_save' | t}}</span>
                  <span id="SaveAmount-{{ section.id }}">{{ product.compare_at_price | minus: product.price | money }}</span>
                  <span class="off">(<span>{{ current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price }}</span>%)</span>
                </span>
                {% endif %}

                {% else %}
                <span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}" class="pr_price hide">{{ current_variant.compare_at_price | money }}</s>
                <span class="pr_price pr_price-{{ section.id }}">
                  <span id="ProductPrice-{{ section.id }}">{{ current_variant.price | money }}</span>
                </span>
                {% endif %}
              </p>
              {%- endunless -%}

              {%- if section.settings.fake_orders -%}
              {%- assign ordermsg = settings.orders_msg | replace: '[orders]','<strong id="odItems"></strong>' | replace: '[hours]','<strong id="odTime"></strong>' -%}
              <div class="orderMsg mb20" data-user="{{settings.orders}}" data-time="{{settings.orders_time}}"><span class="fire-icon"><i class="at at-fire-l"></i></span> {{ordermsg}}</div>
              <script>document.getElementById("odItems").innerHTML = Math.floor(Math.random() * {{settings.orders}}) + 1;document.getElementById("odTime").innerHTML = Math.floor(Math.random() * {{settings.orders_time}}) + 1;</script>
              {%- endif -%}
              
              {% if section.settings.countdown and product.metafields.my_fields.countdown != blank %}
              <div class="fl f-aic mb25 big-countdown{% if section.settings.txt-center %} f-jcc{% endif %}{% if settings.text_center %} f-jcc{% endif %}">
                {% if section.settings.countdown_lbl != blank %}<label>{{ section.settings.countdown_lbl}}</label>{% endif %}
                <div id="countdown" class="atCounter prcountdown fl" data-date="{{product.metafields.my_fields.countdown}}">
                  <span><span class="tm days">00</span>{{'date_formats.short_names.days' | t}}</span>
                  <span><span class="tm hours">00</span>{{ 'date_formats.short_names.hours' | t }}</span>
                  <span><span class="tm minutes">00</span>{{'date_formats.short_names.minuts' | t}}</span>
                  <span><span class="tm seconds">00</span>{{'date_formats.short_names.seconds' | t}}</span>
                </div>
              </div>
              {% endif %}
              
               {% if section.settings.short_des %}	
                <div class="pr_desc rte">
                  {%- assign meta = product.metafields.meta -%}
                  {%- assign key = 'short_des' -%}
                  {%- if meta.short_des != blank -%}
                  {{ meta.short_des }}
                  {%- elsif product.empty? -%}
                  {{ 'homepage.onboarding.product_description' | t }}
                  {%- else -%}
                  {{ product.description | strip_html | truncatewords: 50 }}
                  {%- endif -%}
                </div>
              {% endif %}                           
              

              {%- comment -%}****	product variants **** {%- endcomment -%}
              {%- unless product.empty? -%}
              {%- if section.settings.show_variant_swatches -%}{% assign hide_dd = "hide_dd" %}{%- endif -%}
              {%- assign formclass = 'product-form product-form-' | append: section.id | append: hide_dd -%}
              {% form 'product', product, class: formclass %}
             
              <div class="{%- if section.settings.show_variant_swatches -%}hide{% endif %} fl f-aie f-wrap mb10">
              {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title' -%}
              {% for option in product.options_with_values %}
              <div class="dd_wrap fl1 js pr_form_item mb20">
                <label {% if option.name == 'default' %}class="hidden_txt" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                <select class="single-option-selector single-option-selector-{{ section.id }} pr_input selectbox" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                  {% for value in option.values %}<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>{% endfor %}
                </select>
              </div>
              {% endfor %}
              {%- endunless -%}
              </div>
              
              <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="pr_variants selectbox no-js">
                {%- for variant in product.variants -%}
                {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
                {%- else -%}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {%- endif -%}
                {%- endfor -%}
              </select>

              {%- comment -%}****	product swatches **** {%- endcomment -%}
              {%- if section.settings.show_variant_swatches and product.available and product.variants.size > 1 and product.variants[0].title != 'Default Title' -%}
              {%- for option in product.options -%}{% include 'swatch' with option %}{%- endfor -%}
              {%- endif -%}
              
            
           {%- unless settings.catalog-mode -%}
              <div class="fl f-aic mb15{% if section.settings.txt-center %} f-jcc{% endif %}">
                {% if settings.show_qty_sel %}
                <div class="pr_form_item_qnty mr20">
                  <div class="qtyField" title="{{ 'products.product.quantity' | t }}">
                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="at at-minus-r" aria-hidden="true"></i></a>
                    <input type="text" id="quantity" name="quantity" value="1" class="pr_input qty" />
                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="at at-plus-r" aria-hidden="true"></i></a>
                  </div>
                </div>  
                {% else %}
                <input type="text" id="quantity" name="quantity" value="1" class="hide pr_input qty" />
                {% endif %} 

                {%- if section.settings.quantity_msg -%}         
                  {%- assign qtyMsg = 'products.product.quantity_message' | t | split: '{{items}}' -%}
                  <span class="fl f-aic stockLbl instock{% unless current_variant.available and current_variant.inventory_quantity > settings.max_quantity %} hide{% endunless %}">{% if settings.show_icon%}<i class="at at-check-cil"></i>{% endif %}<span> {{ 'products.product.available' | t }}</span></span>
                  <span class="fl f-aic stockLbl preorder{% unless current_variant.available and current_variant.inventory_quantity < 1 %} hide{% endunless %}">{% if settings.show_icon%}<i class="at at-clock-r"></i>{% endif %}<span> {{ 'products.product.pre_order' | t }}</span></span>
                  <span class="fl f-aic stockLbl outstock{% if current_variant.available %} hide{% endif %}">{% if settings.show_icon%}<i class="at at-times-cil"></i>{% endif %} <span>{{ 'products.product.unavailable' | t }}</span></span>
                  <span class="fl f-aic stockLbl lowstock{% unless current_variant.inventory_management == "shopify" and current_variant.inventory_quantity < settings.max_quantity and current_variant.inventory_quantity > 0 %} hide{% endunless %}" data-qty="{{settings.max_quantity}}">{% if settings.show_icon%}<i class="at at-exclamation-cil"></i>{% endif %}<span> {{qtyMsg[0]}} <span class="items"> {{product.selected_or_first_available_variant.inventory_quantity}} </span> {{qtyMsg[1]}}</span></span>
                  <span class="prvQty hide" {%- for variant in product.variants -%}data-v{{ variant.id }}="{{variant.inventory_quantity}}"{%- endfor -%}></span>
                {%- endif -%} 

              </div>                              
              
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn {{settings.atc-style}} pr_btn addtocart_js">
                {% if template contains 'pre-order' %}
                <span id="AddToCartText-{{ section.id }}">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.pre_order' | t }}{% endunless %}</span>
                {% else %}
                <span id="AddToCartText-{{ section.id }}">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}</span>
                {% endif %}
              </button>  

              {{ form | payment_terms }}
              {% if settings.enable_payment_button %}
                {%- if settings.terms_checkbox -%}
                <p class="cart_term mb20">            
                  <label for="prTearm">
                    <input type="checkbox" name="tearm" id="prTearm" class="checkbox custCheck" value="tearm" required />
                    <span class="checkbox"></span> {{ settings.terms_text }}
                  </label>
                </p>
                {%- endif -%}
              	{{ form | payment_button }}
              {% endif %}

              {% else %}
              <div class="mfp-link">	
                <a href="#productInquiry" data-effect="mfp-zoom-in" class="btn pr_btn btn-enquire mfp">{{'products.enquiry.link' | t}}</a>
              </div>
              {%- endunless -%}
              {% endform %}              
                             
              {%- if section.settings.show_share_buttons -%}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              {%- endif -%}
             
              {%- endunless -%}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if settings.sizechart_link %}
  {% capture sizechartData %}
      <div id="sizechart" class="mfpbox mfp-hide mfp-with-anim tc">
          {%- assign meta = product.metafields.meta -%}
          {%- assign key = 'sizechart' -%}
          {%- assign prtype = product.type | handleize | append: "-size-chart" -%}
          {%- assign prbrand = product.vendor | handleize | append: "-size-chart" -%}
          {%- if meta.sizechart != blank -%}
              {{ meta.sizechart }}
          {%- elsif settings.sizechart_type == "type" and pages[prtype].content != empty -%}
              {{ pages[prtype].content }}
          {%- elsif settings.sizechart_type == "brand" and pages[prbrand].content != empty -%}
              {{ pages[prbrand].content }}
          {%- else -%}
              {{ pages[settings.sizechart_page].content }}
          {%- endif -%}
      </div>
  {% endcapture %}
  <div class="hide">{{sizechartData}}</div>
{% endif %}

{%- if settings.shippingpopup %} <div id="ShippingInfo" class="mfpbox mfp-hide mfp-with-anim">{{ pages[settings.shippingpage].content }}</div> {%- endif -%}

{%- unless product.empty? -%}<script type="application/json" id="ProductJson-{{ section.id }}">{{ product | json }}</script>{%- endunless -%}

<style>
  {% if section.settings.txt-center %} .product-single.home .pr_btn, .product-single.home .shopify-payment-button__button { margin-left: auto; margin-right:auto;}{% endif %}
</style>

<script type="text/javascript">
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
  
  window.addEventListener('DOMContentLoaded',function(){
    $('.swatch :radio').change(function() {
      var optionIndex = $(this).closest('.swatch').attr('data-option-index');
      var optionValue = $(this).val();
      $(this).closest('form').find('.single-option-selector').eq(optionIndex).val(optionValue).trigger('change');
      {%- if settings.show_multiple_currencies -%}
		Currency.convertAll(shopCurrency, $('#currencies li.selected').attr('data-currency'));
      {%- endif -%}
    });
    
    
    {%- if settings.terms_checkbox -%}
      var $buyinoneclick = $('.shopify-payment-button');
      if($buyinoneclick.length){
        $buyinoneclick.first().bind('DOMNodeInserted', function() {
          setTimeout(function(){
            var $shopifypaymentbutton = $('.shopify-payment-button').find(".shopify-payment-button__button");
            if($shopifypaymentbutton.length){
              $buyinoneclick.hide();
              setTimeout(function(){
                $(".shopify-payment-button__button").attr('disabled', true);
                $buyinoneclick.fadeIn()
              }, 300);
            }
          }, 0);
        });
      }  	  	
      $('#prTearm').change(function(){
        if(this.checked == true){
          $('.shopify-payment-button__button').removeAttr("disabled");
        } else {
          $('.shopify-payment-button__button').attr("disabled", "disabled");
        }
      });
  	  
  	{%- endif -%}
    
  });  	
  
</script>
<style>
  {% unless section.settings.txt-center %} .pr_btn, .shopify-payment-button__button	{ margin-left:0;} {% endunless %}
</style>
{% schema %}
  {
    "name": "Featured Product",
    "class": "index-section index-section--featured-product",
    "settings": [     
	   {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
      }, 		
	  {
        "type": "textarea",
        "id": "title",
		"label":" Product Box Title",
         "default": "<span style='color:#e34848'>DEAL OF THE DAY</span>"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
 	  {
        "type": "checkbox",
        "id": "light_bg",
        "label": "Details Column Light Backgound",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "txt-center",
        "label": "Details Column Text Align Center",
        "default": false        
      },
      {
        "type": "select",
        "id": "image-col",
        "label": "Image Column Width",
        "options": [
          { "value": "sm", "label": "Small" },
		  { "value": "md", "label": "Medium" },
          { "value": "lg", "label": "Large" }
        ],
        "default": "md"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable Image Zoom?",
        "default": true
      },            
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Vendor?",
        "default": false
      },     
      {
        "type": "checkbox",
        "id": "spr_availability",
        "label": "Show Product Availability?",
        "default": true
      },     
	  {
        "type": "checkbox",
        "id": "countdown",
        "label": "Show Countdown?",
        "default": false
      },
{
        "type": "checkbox",
        "id": "short_des",
        "label": "Show Short Des.?",
        "default": false
      },
      {
        "type": "text",
        "id": "countdown_lbl",
        "label": "Label",
        "default": "Hurry up! Sales End In"
      },		
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show Social Sharing Buttons?",
        "default": true
      },
	  {
        "type": "header",       
        "content": "Variant style"
      },
	  {
        "type": "checkbox",
        "id": "show_variant_swatches",
        "label": "Show Variant Swatches?",
        "default": true
      }, 
	{
        "type": "header",
        "content": "Quantity Message"
      },
      {
        "type": "checkbox",
        "id": "quantity_msg",
        "label": "Show Quantity Message?",
        "default": true
      },
      {
        "type": "range",
        "id": "max_quantity",
        "label": "Max Quantity",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 20,
        "info": "Display stock left number when product stock is less than selected numbers"
      },      
      {
        "type": "header",
        "content": "Fake Orders"
      },
      {
        "type": "checkbox",
        "id": "fake_orders",
        "label": "Enable Fake Orders",
        "default": false
      },
      {
        "type": "range",
        "id": "orders",
        "label": "Max Items",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 20
      },
      {
        "type": "range",
        "id": "orders_time",
        "label": "Order time",
        "min": 5,
        "max": 48,
        "step": 1,
        "default": 24
      },
      {
        "type": "text",
        "id": "orders_msg",
        "label": "Orders Message",
        "default": "[orders] sold in last [hours] hours",
		"info":"Use '[orders]' for items counts and '[hours]' for hours counts"
      }
    ],
    "presets": [
      {
        "name": "1 - Featured Product"        
      }
    ]
  }
{% endschema %}