{% capture siteFooter %}
<footer class="o_ft" role="contentinfo">  
  {%- if section.blocks.size != 0 -%}
  	<div class="ft_top">  
    <div class="{% unless section.settings.section_width %}page-width{% else %} footer-fw{% endunless %}">
      <div class="ft_block">
        {%- for block in section.blocks -%}          
        {% case block.settings.width %}
          {% when '5%' %}
          	{%- assign block_width = 'medium-up--one-twelfth' -%}
          {% when '20%' %}
          	{%- assign block_width = 'medium-up--one-fifth' -%}
          {% when '25%' %}
          	{%- assign block_width = 'medium-up--one-quarter' -%}
          {% when '30%' %}
          	{%- assign block_width = 'medium-up--three-tenths' -%}
          {% when '33%' %}
          	{%- assign block_width = 'medium-up--one-third' -%}
          {% when '40%' %}
          	{%- assign block_width = 'medium-up--two-fifths' -%}
          {% when '50%' %}
          	{%- assign block_width = 'medium-up--one-half' -%}
          {% when '60%' %}
          	{%- assign block_width = 'medium-up--three-fifths' -%}
          {% when '66%' %}
          	{%- assign block_width = 'medium-up--two-thirds' -%}
          {% when '75%' %}
          	{%- assign block_width = 'medium-up--three-quarters' -%}
          {% when '100%' %}
          	{%- assign block_width = 'one-whole' -%}
        {% endcase %}


        {% capture blockTtl %}{% if block.settings.title != blank %}<h4 class="h4">{{ block.settings.title }}</h4>{% endif %}{% endcapture %}
        {%- case block.type -%}
       
        {% when 'custom' %}
        <div id="nav_menu-{{ block.id }}" class="ft_block_item {{ block_width }} custom-block{% if block.settings.txt_center %} tc{% endif %}">
          {{blockTtl}}

          {% if block.settings.logo %}
          <p style="max-width:{{block.settings.logo-wd}}px" {% if block.settings.txt_center %}class="m_auto"{% endif %}>
            <img class="img_fl" src="{{ block.settings.logo | img_url: '300x' }}" width="{{block.settings.logo-wd}}" height="{{block.settings.logo-wd | divided_by: block.settings.logo.aspect_ratio | floor}}"
                    srcset="{{ block.settings.logo | img_url: '300x' }} 1x, {{ block.settings.logo | img_url: '300x', scale: 2 }} 2x"
                    alt="{{ block.settings.logo.alt | default: shop.name }}"></p>
          {% endif %}

          {% if block.settings.custom-text != blank %}<div class="text custom-text mb15">{{ block.settings.custom-text }}</div>{% endif %}
          {% if block.settings.show_socials %}
          	  {% if block.settings.socials_ttl != blank %}<h5 class="h4">{{ block.settings.socials_ttl }}</h5>{% endif %}
              {% include 'social-media' %}
          {% endif %}
          
           {% if block.settings.show_payicon %}
            {% for type in shop.enabled_payment_types %}{{ type | payment_type_svg_tag: class: 'payment-list__item' }}{% endfor %}          
          {% endif %}  
          
        </div>

          {% when 'image' %}
        <div id="nav_menu-{{ block.id }}" class="imgblock ft_block_item {{ block_width }} custom-block{% if block.settings.txt_center %} tc{% endif %}">
          {{blockTtl}}

          
          {% if block.settings.custom-text != blank %}<div class="text custom-text mb15">{{ block.settings.custom-text }}</div>{% endif %}
          
          <div class="fl f-wrap">
           {% if block.settings.logo %}
          <p style="max-width:{{block.settings.logo-wd}}px" class="mb10{% if block.settings.logomr %} mr15{% endif %}" >
            <a target="_blank" href="{{block.settings.url1}}"> <img class="img_fl" src="{{ block.settings.logo | img_url: '300x' }}" width="{{block.settings.logo-wd}}" height="{{block.settings.logo-wd | divided_by: block.settings.logo.aspect_ratio | floor}}"
                    srcset="{{ block.settings.logo | img_url: '300x' }} 1x, {{ block.settings.logo | img_url: '300x', scale: 2 }} 2x"
                                                    alt="{{ block.settings.logo.alt | default: shop.name }}"></a>
          </p>
          {% endif %}
          
          {% if block.settings.logo2 %}
          <p style="max-width:{{block.settings.logo-wd2}}px">
              <a target="_blank" href="{{block.settings.url2}}"><img class="img_fl" src="{{ block.settings.logo2 | img_url: '300x' }}" width="{{block.settings.logo-wd2}}" height="{{block.settings.logo-wd2 | divided_by: block.settings.logo2.aspect_ratio | floor}}"
                    srcset="{{ block.settings.logo2 | img_url: '300x' }} 1x, {{ block.settings.logo2 | img_url: '300x', scale: 2 }} 2x"
                                                     alt="{{ block.settings.logo2.alt | default: shop.name }}"></a>
          </p>
          {% endif %}          
          </div>                            
        </div>
        
        
        {% when 'menu' %}
        <div id="nav_menu-{{ block.id }}" class="ft_block_item {{ block_width }} f_links">
          {{blockTtl}}
          <ul>
            {% for link in linklists[block.settings.menulinks].links %}
            <li><a href="{{ link.url }}" {% if link.title contains '[new]' %} target="_blank" {% endif %}>{{ link.title | split: '[' | first }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% when 'hmenu' %}
          <div id="nav_menu-{{ block.id }}" class="ft_block_item {{ block_width }} {{block.settings.talign}} menuhr"{% if block.settings.btmmr %} style="margin-bottom:0"{% endif %}>
            {% if block.settings.bdr_top %}<hr style="border-bottom-color:{{block.settings.bdr}}" />{% endif %}
            {{blockTtl}}
            <ul class="horLinks">
              {% for link in linklists[block.settings.menulinks].links %}
              <li><a href="{{ link.url }}"{% if link.title contains '[new]' %} target="_blank" {% endif %}>{{ link.title | split: '[' | first }}</a></li>
              {% endfor %}
            </ul>
            {% if block.settings.bdr_btm %}<hr style="border-bottom-color:{{block.settings.bdr}}" />{% endif %}
          </div>
        {% when 'contact' %}
        <div id="text-{{ block.id }}" class="ft_block_item {{ block_width }} contact-box">

          {{blockTtl}}

          {% if block.settings.logo %}
            <p style="max-width:{{block.settings.logo-wd}}px"><img src="{{ block.settings.logo | img_url: '300x' }}" width="{{block.settings.logo.width}}"
                    srcset="{{ block.settings.logo | img_url: '300x' }} 1x, {{ block.settings.logo | img_url: '300x', scale: 2 }} 2x"
                    alt="{{ block.settings.logo.alt | default: shop.name }}"></p>
          {% endif %}
          
          <ul class="f_addr">
            {% if block.settings.address  != blank  %}
            <li>{% if block.settings.show_icons %} <i class="at at-map-marker-al " aria-hidden="true"></i> {% endif %} {{ block.settings.address }}</li>
            {% endif %}
            {% if block.settings.phone  != blank  %}
            <li class="phone">{% if block.settings.show_icons %}<i class="at at-phone-l" aria-hidden="true"></i> {% endif %}<a href="tel:{{block.settings.phone }}">{{ block.settings.phone }}</a></li>
            {% endif %}
            {% if block.settings.email  != blank  %}
            <li class="email">{% if block.settings.show_icons %}<i class="at at-envelope-l" aria-hidden="true"></i> {% endif %} <a href="mailto:{{block.settings.email}}">{{ block.settings.email }}</a></li>
            {% endif %}
          </ul>
          
          {% if block.settings.show_socials %}
            {% if block.settings.socials_ttl != blank %}<h5 class="h4">{{ block.settings.socials_ttl }}</h5>{% endif %} 
            {% include 'social-media' %}
          {% endif %} 
        </div>         			

        {% when 'newsletter' %}
        <div id="text-{{ block.id }}" class="ft_block_item {{ block_width }} ft_newsltr{% if block.settings.newltr_align %} tc{% endif %}">
          <div class="wrap-newsletter">
            {{blockTtl}}
            {% if block.settings.sub_title %}<p>{{ block.settings.sub_title }}</p>{% endif %}
            {% include 'newsletter-form', formId: 'footer', isicon: block.settings.icon %}
            {% if block.settings.show_socials %}
            <div class="socials">
              {%- if block.settings.socials_ttl != blank -%}<h3 class="h4">{{ block.settings.socials_ttl }}</h3>{%- endif -%}
              {% include 'social-media' %}
            </div>
            {% endif %}
          </div>                  
        </div>

        {% when 'instagram' %}
        <div id="text-{{ block.id }}" class="ft_block_item {{ block_width }} home-instagram instagram">   
          <div data-section-id="{{ section.id }}" data-section-type="instagram" data-image="{{ block.settings.images_size }}"
               data-count="{{ block.settings.limit }}" data-from="{{ block.settings.imgfrom }}" data-user="{{ block.settings.user-id }}" data-tag="{{ block.settings.tag }}">
            {{blockTtl}}
            {% if block.settings.sub_title %}<p>{{ block.settings.sub_title }}</p>{% endif %}
            <div id="instafeed{{section.id}}" class="instafeed im{{ block.settings.images_size }}"></div>
          </div>
        </div>

        {% when 'socialicons' %}
        <div id="text-{{ block.id }}" class="ft_block_item {{ block_width }} soc_icons">
          {{blockTtl}}
          {% include 'social-media', hideLbl: true %}
        </div>
        
         {% when 'emptycol' %}
        <div id="text-{{ block.id }}" class="ft_block_item {{ block_width }} emptycol"></div> 
        
        {% when 'hrline' %}
        <div id="hrline-{{ block.id }}" class="hrline ft_block_item one-whole">
        <hr/>
        </div>
        <style>
          .hrline hr {border-bottom:1px solid {{block.settings.lineclr}};}
        </style>
        
        {%- endcase -%}                
        {%- endfor -%}
      </div>        
    </div>
  </div>
  {%- endif -%}
  
  {%- if section.settings.copyright_text != blank or section.settings.show_payment -%}
  <div class="ft_bottom">
    <div class="fl f-aic f-col f-row-md {% unless section.settings.section_width %}page-width{% else %}footer-fw{% endunless %}">
        {% if section.settings.show_payment %}
          <div class="fl1 paymentCall tc{% if section.settings.copyright_text != blank %} medium-up--one-half tr-md{% endif %}">
            {%- if section.settings.payment_img != blank -%}
           	 <p class="footer-img"><img src="{{ section.settings.payment_img | img_url: '600x' }}" alt="{{ section.settings.logo.alt }}" style="max-width:{{section.settings.payimg-wd}}px" /></p>
            {%- else -%}
	          {% for type in shop.enabled_payment_types %}{{ type | payment_type_svg_tag: class: 'payment-list__item' }}{% endfor %}
            {%- endif -%}
          </div>
        {% endif %}
        {% if section.settings.copyright_text != blank %}
        <div class="fl1 tc{% if section.settings.show_payment %} medium-up--one-half tl-md{% endif %}">
          {{ section.settings.copyright_text }}
          {% if section.settings.show_designby %}<span class="designBy">{% if section.settings.copyright_text != blank %}<br />{% endif %}Designed by <a href="https://www.adornthemes.com" target="_blank">AdornThemes</a></span>{% endif %}
        </div>
        {% endif %}
    </div>
  </div>
  {%- endif -%}
</footer>
{% endcapture %}{{ siteFooter | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Footer",
    "settings": [
	 {
        "type": "paragraph",
        "content": "[preview footer style](https://optimal-demos.myshopify.com/pages/footer-style)"
      },
	  {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	  },		      
 	  {
        	"type": "textarea",
        	"id": "copyright_text",
        	"label": "Copyright Text",
        	"default": "© 2020,Optimal. All Rights Reserved."
      	},
        {
          "type": "checkbox",
          "id": "show_designby",
          "label": "Give credit to theme developer?",
          "default": true,
		  "info":"display design by in footer"
        },
		{
			"type":"header",
        	"content":"Payment Options"
		},
      	{
        	"type": "checkbox",
        	"id": "show_payment",
        	"label": "Show Paymnet Icons",
        	"default": true
        },
		{
          "type": "image_picker",
          "id": "payment_img",
          "label": "Payment Icon Image",
          "info": "Use image instead of Payment icons"
        },
		{
            "type": "range",
            "id": "payimg-wd",
            "label": "Image max width",
            "default": 300,
            "min": 100,
            "max": 600,
            "step": 5,
            "unit": "px"
        }
    ],
	"blocks": [
	  {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Navigation Title",
			"default": "Informations"
          },
          {
            "type": "link_list",
            "id": "menulinks",
            "label": "Select Navigation",
            "default": "main-menu"
          },
		  {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
			"info":"Total width of all block must not exceed 100%",
            "options": [  			 
			  { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "hmenu",
        "name": "Horizontal Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Navigation Title",
			"default": "Informations"
          },
          {
            "type": "link_list",
            "id": "menulinks",
            "label": "Select Navigation",
            "default": "main-menu"
          },
 	      {
            "type": "select",
            "id": "talign",
            "label": "Text Align",
            "default": "tc",
            "options": [		    
			 { "value": "tl", "label": "Left" },
              { "value": "tc", "label": "Center" },
			  { "value": "tr", "label": "right" }
            ]
          },
 		  {
			"type":"checkbox",
			"id":"bdr_top",
			"label":"Show Top Border",
			"default":false
		  },
 		  {
			"type":"checkbox",
			"id":"bdr_btm",
			"label":"Show bottom Border",
			"default":false
		  },
          {
            "type": "color",
            "id": "bdr",
            "label": "Border Color",
            "default": "#000"
          },
 		  {
			"type":"checkbox",
			"id":"btmmr",
			"label":"Remove bottom space",
			"default":false
		  },
		  {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "100%",
			"info":"Total width of all block must not exceed 100%",
            "options": [  			 
			  { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "contact",
        "name": "Contact Details",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Contact Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Logo max width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
		  {
            "type": "textarea",
            "id": "address",
            "label": "Address",
			"default": "55 Gallaxy Enque,<br />2568 steet, 23568 NY"
          },
		  {
            "type": "textarea",
            "id": "phone",
            "label": "Phone",
			"default": "(440) 000 000 0000"
          },
		  {
            "type": "textarea",
            "id": "email",
            "label": "Email",
			"default": "sales@yousite.com"
          },
 		  {
			"type":"checkbox",
			"id":"show_icons",
			"label":"Show Icons",
			"default":false
		  },
      	  {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
		  {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
             "info":"Total width of all block must not exceed 100%",
            "options": [ 			
			 { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "custom",
        "name": "Custom Block",
        "settings": [
 		  {
			"type":"checkbox",
			"id":"txt_center",
			"label":"Text align center?",
			"default":false
		  },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "About Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload image"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Logo max width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
		  {
            "type": "textarea",
            "id": "custom-text",
            "label": "Text",
			"default": "Making a profitable ecommerce store is hard work. You can't just open a website and expect people to flood in. If you really want to succeed you have to create traffic"
          },
		 {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
			{
			"type":"checkbox",
			"id":"show_payicon",
			"label":"Show Paymnet Icons",
			"default":false
		  },
 	     {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
             "info":"Total width of all block must not exceed 100%",
            "options": [		    
			 { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
		{
        "type": "image",
        "name": "Image Block",
        "settings": [ 		 
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Download App"
          },
			{
            "type": "textarea",
            "id": "custom-text",
            "label": "Text",
			"default": "Optimal App is now available on App Store & Google Play. Get it now. "
          },	
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload image"
          },
		 {
            "type": "text",
            "id": "url1",
            "label": "Image Url"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Image max width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
			{
            "type": "checkbox",
            "id": "logomr",
            "label": "Enable image right padding",
			"default":true
          },
				{
            "type": "image_picker",
            "id": "logo2",
            "label": "Upload image"
          },
		{
            "type": "text",
            "id": "url2",
            "label": "Image Url"
          },
          {
              "type": "range",
              "id": "logo-wd2",
              "label": "Image max width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },		  	 			
 	     {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
             "info":"Total width of all block must not exceed 100%",
            "options": [		    
			 { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter Signup",
        "limit": 1,
        "settings": [
		  {
			"type":"checkbox",
			"id":"newltr_align",
			"label":"Align Center",
			"default":false
		  },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Newsletter"
          },
		  {
            "type": "text",
            "id": "sub_title",
            "label": "text",
			"default": "Enter your email to receive daily news and get 20% off coupon for all items. NO spam, we promise"
          },
 		  {
			"type":"checkbox",
			"id":"icon",
			"label":"Show Icons only in button",
			"default":false,
			"info": "Select when need more space for email field"
		  },
		 {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
		  {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
            "info":"Total width of all block must not exceed 100%",
            "options": [ 			
			 { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
  	 {
        "type": "instagram",
        "name": "Instagram",
        "limit": 1,
        "settings": [
		  {
			"type":"paragraph",
			"content":"Note: Instagram will not work at 2 place at the same time. Either you can display in section or footer"
		  },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Avon On Instagram"
          },
		  {
            "type": "text",
            "id": "sub_title",
            "label": "text",
			"default": "Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom."
          },
          {
             "type": "select",
             "id": "imgfrom",
             "label": "Show images from",
             "default": "user",
             "options": [
             	{
                    "value": "user",
                    "label": "User Id"
                },
                {
                    "value": "tag",
                    "label": "Tag Name"
                }
			]
          },
          {
            "type": "text",
            "id": "user-id",
            "label": "User Id",
            "default": "adornthemes"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag Name",
            "default": "shopify"
          },
          {
              "type": "select",
              "id": "images_size",
              "label": "Image Size",
              "default":"150",
              "options": [
                {
                  "value": "150",
                  "label": "Small"
                },
                {
                  "value": "320",
                  "label": "Medium"
                },
                {
                  "value": "640",
                  "label": "Large"
                }
              ]
          },
        {
          "type": "range",
          "id": "limit",
          "label": "Number of photos",
          "default": 8,
          "min": 1,
          "max": 12,
          "step": 1
        },
		{
          "type": "select",
          "id": "width",
          "label": "Footer block width",
          "default": "50%",
          "info":"Total width of all block must not exceed 100%",
          "options": [
			 { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "socialicons",
        "name": "Social Icons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Stay Connected"
          },		  
		   {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "25%",
            "info":"Total width of all block must not exceed 100%",
            "options": [ 			 
			  { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "emptycol",
        "name": "Empty Column",      
        "settings": [         	  
		   {
            "type": "select",
            "id": "width",
            "label": "Footer block width",
            "default": "5%",
            "info":"Total width of all block must not exceed 100%",
            "options": [
 			  { "value": "5%", "label": "5%" },
 			  { "value": "20%", "label": "20%" },
              { "value": "25%", "label": "25%" },
			  { "value": "30%", "label": "30%" },
              { "value": "33%", "label": "33%" },
			  { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
			  { "value": "60%", "label": "60%" },
              { "value": "66%", "label": "66%" },
              { "value": "75%", "label": "75%" },
              { "value": "100%", "label": "100%" }		
            ]
          }
        ]
      },
      {
      	"type": "hrline",
      	"name": "Horizontal Line",
		 "settings": [         	  
		    {
            "type": "color",
            "id": "lineclr",
            "label": "Line Color",
            "default": "#eee"
          }
		]
      }
	]
  }
{% endschema %}