{%- capture heroBanner -%}
<div class="content-indent {{ section.settings.top-offeset}}{% if section.settings.hide_mobile %} small--hide{% endif %}">
  <div class="{% unless section.settings.section_width %}page-width {% else %}s_fw fullwidth-{{section.id}} {% endunless %}">
    <div class="fl hero pr hero-{{ section.id }} wow fadeIn">
      	 {% if section.settings.image != blank %}
      		<div class="heroImg lazyload{% if section.settings.mb_image != blank %} small--hide{% endif %}"
                data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto" data-parent-fit="contain"
         		style="background-image: url('{{ section.settings.image | img_url: '100x' }}'); background-position:center {{ section.settings.alignment }};{% if section.settings.parallax_scroll %}background-attachment:fixed;{% endif %}"
                {% if section.settings.parallax_scroll %} data-stellar-background-ratio="0.08" data-stellar-vertical-offset="0" {% endif %}></div>
         {% endif %}
      	 {% if section.settings.mb_image != blank %}
      		<div class="heroImg medium-up--hide lazyload" data-bgset="{% include 'bgset', image: section.settings.mb_image %}" data-sizes="auto" data-parent-fit="contain"
         		style="background-image:url('{{ section.settings.mb_image | img_url: '100x' }}'); background-position:center {{ section.settings.alignment }};"></div>
         {% endif %}
      	 {% if section.settings.image == blank %}<div class="ph_bg">{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg svgcl4' }}</div>{% endif %}                       	
     
       <div class="hero_txt_wrap fl m_auto hw{{section.id}} {{section.settings.text_align}} {{section.settings.text_align_m}}" style="max-width:{{section.settings.con_width }}%;">
       {% if section.settings.ol_link %}<a class="pa z3 l0 r0 t0 b0" href="{{ section.settings.button_link }}" ></a> {% endif %}
        <div class="hero_txt htxt{{ section.id }} pr{% if section.settings.text-align %} tl{% else %} tc{% endif %}">          	
          {% unless section.settings.hero_hd1 == blank %}<p class="hero_hd1 hd1{{section.id}} mb5">{{ section.settings.hero_hd1 }}</p>{% endunless %}
          {% unless section.settings.title == blank %}<h2 class="hero_hd2 hd2{{section.id}}">{{ section.settings.title  }}</h2>{% endunless %}
          {% if section.settings.hero_dealtimer %}
          	<div class="atCounter fl f-jcc tc ht{{section.id}} mb20" data-date="{{section.settings.cnt_date}}">
                <span><span class="tm days">00</span>{{'date_formats.short_names.days' | t}}</span>
                <span><span class="tm hours">00</span>{{ 'date_formats.short_names.hours' | t }}</span>
                <span><span class="tm minutes">00</span>{{'date_formats.short_names.minuts' | t}}</span>
                <span><span class="tm seconds">00</span>{{'date_formats.short_names.seconds' | t}}</span>
          	</div>
          {% endif %}
          {% unless section.settings.hero_hd3 == blank %}<div class="hero_hd3 hd3{{section.id}}{% if section.settings.hero_hd3_hide %} small--hide{% endif %}">{{ section.settings.hero_hd3 }}</div>{% endunless %}
          {% if section.settings.ol_link != true %}
            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="btn {{section.settings.btn-size}} {{section.settings.btn-style}}">{{ section.settings.button_label | escape }}</a>
            {% endif %}
          {% endif %}          
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .hw{{section.id}} { min-height:{{section.settings.mb_height}}px}
  {%- if section.settings.section_width -%}
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-mbl}}px; padding-right:{{ section.settings.pad-mbl}}px}
  {%- endif -%}
  .htxt{{ section.id }} { padding:20px; }
  {% if section.settings.hero_bg and section.settings.bg_clr != 'rgba(0,0,0,0)' %}
  .htxt{{ section.id }} { background-color:rgba({{ section.settings.bg_clr | color_to_rgb | remove:'rgb(' | remove: ')' }},{{ section.settings.bg_opacity}}); }
  {% endif %}
  
   {% if section.settings.hero_dealtimer %}
	  .ht{{section.id}} > span { color:{{section.settings.cnt_text}}; background:{{section.settings.cnt_bg}}; border:1px dashed {{section.settings.cnt_bdr}}  }
	  .hero-{{section.id}} .atCounter > span { border-radius:{{section.settings.b_rad}}px; text-transform:uppercase; font-weight:600; padding:10px 12px;
      	{% if section.settings.b_rad == 50 %} padding:8px; height:75px; width:75px; {% endif %}
      }
	  .hero-{{section.id}} .atCounter > span { border-radius:{{section.settings.b_rad}}px; text-transform:uppercase; font-weight:600; padding:10px 12px; font-size:13px}
	  .hero-{{section.id}} .atCounter span span {font-size:18px}
   {% endif %}
  
  .hero-{{section.id}},.hero-{{ section.id }} h2 { color:{{ section.settings.txt_clr}}  }
  
  .hd1{{section.id}}{font-size:{{section.settings.hd1_fs_m}}px; letter-spacing:0.0{{ section.settings.hd1_ls}}em; }
  .hd2{{section.id}}{font-size:{{section.settings.hd2_fs_m}}px; letter-spacing:0.0{{ section.settings.hd2_ls}}em; line-height:{{ section.settings.hd2_lh }}; margin-bottom:{{section.settings.hd2_mb_m}}px; }
  .hd3{{section.id}}{font-size:{{section.settings.hd3_fs_m}}px; letter-spacing:0.0{{ section.settings.hd3_ls}}em; line-height:{{ section.settings.hd3_lh }}; margin-bottom:{{section.settings.hd3_mb_m}}px;} 

  @media only screen and (min-width:768px){
    .hw{{section.id}} { min-height:{{section.settings.ds_height}}px; }
    {%- if section.settings.section_width -%}
     .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-desk}}px; padding-right:{{ section.settings.pad-desk}}px; }
    {%- endif -%}
    .htxt{{ section.id }} { padding:40px; }
    .hd1{{section.id}} { font-size:{{section.settings.hd1_fs}}px}
    .hd2{{section.id}} { font-size:{{section.settings.hd2_fs}}px; margin-bottom:{{section.settings.hd2_mb}}px}
    .hd3{{section.id}} { font-size:{{section.settings.hd3_fs}}px; margin-bottom:{{section.settings.hd3_mb}}px}
  }
  
  @media only screen and (min-width:768px) and (max-width: 1024px){
    .hw{{section.id}} { min-height:{{section.settings.tb_height}}px}
  }
  
</style>
{%- endcapture -%}
{{heroBanner | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Hero Banner",
    "class": "index-section index-section--flush",
    "settings": [
	 {
		 "type": "paragraph",
		 "content":"[Preview different style](https://www.adornthemes.com/parallax-banner/)"
      },
	 {
		 "type": "header",
		 "content":"APPEARANCE SECTION ==="
      },
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",			
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        }, 
 	   {
           "type": "checkbox",
           "id": "hide_mobile",
           "label": "Hide Section in Mobile?",
           "default": false
        },	
	  {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": true
	  },
	  {
        "type": "paragraph",
        "content": "Left/Right Padding for Fullwidth ==="
      }, 	
      {
        "type": "range",
        "id": "pad-desk",
        "label": "Desktop",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },      
      {
        "type": "range",
        "id": "pad-mbl",
        "label": "Mobile",
        "default": 0,
        "min": 0,
        "max": 15,
        "step": 1
      }, 
	  {
        "type": "header",
        "content": "Appearance Banner ==="
      },
	  {
		"type":"paragraph",
		"content":"Height ==="
	  },
      {
        "type": "range",
        "id": "ds_height",
        "label": "Desktop",
        "default": 600,
        "min": 100,
        "max": 1000,
        "step": 10
      },
      {
        "type": "range",
        "id": "tb_height",
        "label": "Tablet",
        "default": 350,
        "min": 100,
        "max": 1000,
        "step": 10
      },  
	  {
        "type": "range",
        "id": "mb_height",
        "label": "Mobile",
        "default": 250,
        "min": 100,
        "max": 1000,
        "step": 10
      },  	  
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
		"info": "Recommended width 1920px and height as per above desktop height"
      },
	 {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Mobile Image",
			"info": "Recommended width 750px and height as per above mobile height. If mobile image is blank, dekstop image will be used."
       },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image Alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
	{
        "type": "checkbox",
        "id": "parallax_scroll",
        "label": "Enable Parallax Scrolling",
        "default":true,
		"info":"For Parallax Effect Recommanded Image Size 1900x1000. Effect will not work on mobile device."
      },		
     {
          "type":"header",
          "content":"Pre Heading"	
          },
          {
            "type": "text",
            "id": "hero_hd1",
            "label": "Text",
            "default": "SELL MORE..."			
          },          
          {
              "type": "range",
              "id": "hd1_fs",
              "label": "Font Size",
              "default": 14,
              "min": 10,
              "max": 30,
              "step": 1,
              "unit": "px"
          }, 			  
            {
            "type": "range",
            "id": "hd1_ls",
            "label": "Letter Spacing",
            "default": 2,
            "min": 0,
            "max": 9,
            "step": 1,
            "unit": "em",
			"info": "Space between characters in a text. Default is set to 2em."
          }, 		 
			{
              "type": "range",
              "id": "hd1_fs_m",
              "label": "Font Size (mobile)",
              "default": 13,
              "min": 10,
              "max": 20,
              "step": 1,
              "unit": "px"
          }, 			             	 
     	 {
            "type":"header",
            "content":"Big Heading"	
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Text",
            "default": "THE MOST ADVANCED<br/>SHOPIFY THEME IN THE MARKET"			
          },		
          {
              "type": "range",
              "id": "hd2_fs",
              "label": "Font Size",
              "default": 22,
              "min": 10,
              "max": 100,
              "step": 1,
              "unit": "px"
          }, 
 			{
              "type": "range",
              "id": "hd2_lh",
              "label": "Line Height",
              "default": 1.2,
              "min": 1.0,
              "max": 2.0,
              "step": 0.1,
              "info": "Space between text lines. Default is set to 1.3"
          }, 	
            {
            "type": "range",
            "id": "hd2_ls",
            "label": "Letter Spacing",
            "default": 2,
            "min": 0,
            "max": 9,
            "step": 1,
            "unit": "em",
			"info": "Space between characters in a text. Default is set to 2em."
          },
 		  {
            "type": "range",
            "id": "hd2_mb",
            "label": "Margin Bottom",
            "default": 20,
            "min": 5,
            "max": 50,
            "step": 1,
            "unit": "px"
          },
			{
              "type": "range",
              "id": "hd2_fs_m",
              "label": "Font Size (mobile)",
              "default": 18,
              "min": 10,
              "max": 30,
              "step": 1,
              "unit": "px"
          }, 		           
 		  {
            "type": "range",
            "id": "hd2_mb_m",
            "label": "Margin Bottom (mobile)",
            "default": 20,
            "min": 5,
            "max": 30,
            "step": 1,
            "unit": "px"
          },
		 {
            "type":"header",
            "content":"Detail"	
          },
          {
            "type": "textarea",
            "id": "hero_hd3",
            "label": "Text",
            "default": "The design of your site plays a crucial role. <br>It can make or break your website leading to sales either <br>falling flat or converting profitably."			
          },
		 {
            "type": "checkbox",
            "id": "hero_hd3_hide",
            "label": "Hide in mobile?",
            "default": true			
          },		
         {
              "type": "range",
              "id": "hd3_fs",
              "label": "Font Size",
              "default": 14,
              "min": 10,
              "max": 100,
              "step": 1,
              "unit": "px"
          }, 
 			{
              "type": "range",
              "id": "hd3_lh",
              "label": "Line Height",
              "default": 1.5,
              "min": 1.0,
              "max": 2.0,
              "step": 0.1,
              "info": "Space between text lines. Default is set to 1.6"
          }, 	
            {
            "type": "range",
            "id": "hd3_ls",
            "label": "Letter Spacing",
            "default": 2,
            "min": 0,
            "max": 9,
            "step": 1,
            "unit": "em",
			"info": "Space between characters in a text. Default is set to 2em."
          },
 		  {
            "type": "range",
            "id": "hd3_mb",
            "label": "Margin Bottom",
            "default": 25,
            "min": 5,
            "max": 50,
            "step": 1,
            "unit": "px"
          },
			{
              "type": "range",
              "id": "hd3_fs_m",
              "label": "Font Size (mobile)",
              "default": 14,
              "min": 10,
              "max": 30,
              "step": 1,
              "unit": "px"
          }, 			            
 		  {
            "type": "range",
            "id": "hd3_mb_m",
            "label": "Margin Bottom (mobile)",
            "default": 20,
            "min": 5,
            "max": 30,
            "step": 1,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Text",
			"default": " Shop Collection"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
			"default": "/"
          },
 		 {
            "type": "checkbox",
            "id": "ol_link",
            "label": "Enable click on entire image.",
			"default":false
          },
		 {
            "type": "select",
            "id": "btn-style",
            "label": "Select Button",
            "default": "btn1",
            "options": [
              {
              "label": "Solid Button 1",
              "value": "btn1"
              },
              {
              "label": "Solid Button 2",
              "value": "btn2"
              },
              {
              "label": "Solid Button 3",
              "value": "btn3"
              },
              {
              "label": "Border Button 1",
              "value": "bdr-btn1"
              },
              {
              "label": "Border Button 2",
              "value": "bdr-btn2"
              } 
            ]
        },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button Size",
            "default": "btn-med",
            "options": [
                {
                "label": "Small",
                "value": "btn-small"
                },
                {
                "label": "Medium",
                "value": "btn-med"
                },
                {
                "label": "Large",
                "value": "btn-large"
                } 		  
         	 ]
          },
          {
            "type": "header",        
            "content": "Banner Caption" 			
           },
		  {
            "type": "range",
            "id": "con_width",
            "min": 60,
            "max": 90,
            "step": 1,
            "label": "Container Max Width (desktop)",
            "unit": "%",
            "default": 85
          },
		  {
            "type": "checkbox",
            "id": "text-align",
            "label": "Text Align Left",
            "default": false            
          },
 		   {
            "type": "select",
            "id": "text_align",
            "label": "Position",
            "default": "f-jcc-md f-aic-md",			
            "options": [
 			  { "label": "Top Left",      "value": "f-ais-md f-jcs-md" },
  			  { "label": "Top Center",    "value": "f-jcc-md f-ais-md" },
  			  { "label": "Top Right",     "value": "f-jce-md f-ais-md" },             
			  { "label": "Left",  		  "value": "f-aic-md f-jcs-md" },
 			  { "label": "Center", 		  "value": "f-jcc-md f-aic-md" },
			  { "label": "Right",  		  "value": "f-jce-md f-aic-md" },
 			  { "label": "Bottom Left",   "value": "f-aie-md f-jcs-md" },						 
              { "label": "Bottom Center", "value": "f-jcc-md f-aie-md" }, 						 
			  { "label": "Bottom Right",  "value": "f-jce-md f-aie-md" }
              
            ]
          },
 		 {
            "type": "select",
            "id": "text_align_m",
            "label": "Position (mobile)",
            "default": "f-jcc f-aic",			
            "options": [ 			
			  { "label": "Top Left",      "value": "f-ais f-jcs" },
  			  { "label": "Top Center",    "value": "f-jcc f-ais" },
  			  { "label": "Top Right",     "value": "f-jce f-ais" },             
			  { "label": "Left",  		  "value": "f-aic f-jcs" },
 			  { "label": "Center", 		  "value": "f-jcc f-aic" },
			  { "label": "Right",  		  "value": "f-jce f-aic" },
 			  { "label": "Bottom Left",   "value": "f-aie f-jcs" },						 
              { "label": "Bottom Center", "value": "f-jcc f-aie" }, 						 
			  { "label": "Bottom Right",  "value": "f-jce f-aie" }			              
            ]
          }, 	    
			{
            "type": "checkbox",
            "id": "hero_bg",
            "label": "Display Background?",
            "default": true
          },
         {
            "type": "color",
            "id": "bg_clr",
            "label": "Background",
            "default": "#fff"
          },
       {
          "type": "range",
          "id": "bg_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Background Opacity",
          "unit": "%",
          "default": 0.9
        },
       {
          "type": "color",
          "id": "txt_clr",
          "label": "Text Color",
          "default": "#000"
        },
	  {
        "type": "header",
        "content": "Countdown Timer"
      },
 	  {
		"type":"checkbox",
		"id":"hero_dealtimer",
		"label":"Display?",
		"default": false,
		"info":"please click save button to view"
	  },
	  {
        "type": "text",
        "id": "cnt_date",
        "label": "Enter Date",
        "info": "Date Formate should be Month\/Day\/Year.i.e mm\/dd\/year, 11\/25\/2020",
        "default": "12\/20\/2020"
      },
      {
        "type": "color",
        "id": "cnt_bg",
        "label": "Background",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "cnt_text",
        "label": "Text",
        "default": "#eee"
      },
      {
        "type": "color",
        "id": "cnt_bdr",
        "label": "Border",
        "default": "#000"
      },
		{
          "type": "range",
          "id": "b_rad",
          "min": 0,
          "max": 50,
          "step": 1,
          "label": "Border Radius",
          "unit": "px",
          "default": 0
        }
    ],
    "presets": [
      {
        "name": "2 - Hero Banner"       
      }
    ]
  }
{% endschema %}