{%- capture imageSlideShow -%}
<div class="content-indent {{ section.settings.top-offeset}}">
  <div data-section-id="{{ section.id }}" data-section-type="slideshow">

    {% if section.blocks.size > 0 %}
    <div class="oss_wrap{% unless section.settings.section_width %} page-width{% endunless %}">

      <div class="slideshow" id="Slideshow-{{ section.id }}" data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":{{ section.settings.arrow }},"dots":{{ section.settings.dots }},"fade":{{section.settings.slideEf}},{%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "autoplay":{{section.settings.autoplay}}, "autoplaySpeed":{{section.settings.speed | times: 1000}} }'>
        {% for block in section.blocks %}
        <div class="ss_slide ss_slide--{{ block.id }}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="ss_link">{% endif %}         
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% if block.settings.image != blank %}
              <img class="img_fl lazyload js{% if block.settings.mb_image != blank %} small--hide{% endif %}" src="{{ block.settings.image | img_url: '50x' }}"
                   data-src="{{ img_url }}" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" width="50" height="50"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
              
                  {% if block.settings.mb_image != blank %}
              		{%- assign img_url1 = block.settings.mb_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="img_fl lazyload js medium-up--hide" src="{{ block.settings.mb_image | img_url: '50x' }}"
                       data-src="{{ img_url1 }}" data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
                  {% endif %}

              {% else %}
                <div class="ph_bg">
                  {% capture current %}{% cycle 1,2 %}{% endcapture %}
                  {% capture plClass %}placeholder-svg svgcl{{current}}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: plClass }}
                </div>
              {% endif %}         
            {% if block.settings.link != blank %}</a>{% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
    {% endif %}
  </div>
</div>
{%- endcapture -%}
{{imageSlideShow | strip_newlines | remove: "  " | remove: "	" }}
<style>
  #Slideshow-{{section.id}} .slick-arrow:before { color:{{ section.settings.ss_arrow}};}
  #Slideshow-{{section.id}} .slick-dots li button:before {background:{{ section.settings.ss_dot}}; }
  #Slideshow-{{section.id}} .slick-dots li.slick-active button:before {background:{{ section.settings.ss_dot_ac}};}
 
  @media only screen and (max-width:767px) {   
    {% if section.settings.arrow_m %} #Slideshow-{{section.id}} .slick-arrow {display:none !important;} {% endif %}
    {% if section.settings.dots_m %} #Slideshow-{{section.id}} .slick-dots {display:none !important;} {% endif %}
  }
</style>
{% schema %}
  {
    "name": "Image Slideshow",
    "class": "index-section index-section--flush img_ss",
    "max_blocks": 10,
    "settings": [
     {
        "type": "paragraph",      
        "content": "Use this slideshow when you want to display only images. Images will not crop in this slideshow"
      },	 
	  {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "none",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },
		 {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": true
	  },
      {
        "type": "select",
        "id": "slideEf",
        "label": "Slide Effect",
        "default": "true",
        "options": [
          { "value": "true", "label": "Fade" },
          { "value": "false", "label": "Slide" }
        ]
      },
	  {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
	  {
          "type": "range",
          "id": "speed",
          "label": "Change Slides Every",
          "default": 5,
          "min": 1,
          "max": 60,
          "step": 1,
          "unit": "sec"
      },
	  {
        "type": "checkbox",
        "id": "arrow",
        "label": "Show Next/Previous Arrows?",
        "default": true
      },
		{
        "type": "checkbox",
        "id": "arrow_m",
        "label": "Hide on mobile?",
        "default": false
      },
      {
        "type": "color",
        "id": "ss_arrow",
        "label": "Arrows Color",
        "default": "#eee"
      },
	 {
        "type": "checkbox",
        "id": "dots",
        "label": "Show Dotted Navigation?",
        "default": false
      },
 	  {
        "type": "checkbox",
        "id": "dots_m",
        "label": "Hide on mobile?",
        "default": true
      },
        {
          "type": "color",
          "id": "ss_dot",
          "label": "Dots Color",
          "default": "#eee"
        },
        {
          "type": "color",
          "id": "ss_dot_ac",
          "label": "Active Dot Color",
          "default": "#111"
        }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
			"info":"Recommended width 1920px"
          },
		  {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Mobile Image",
			"info": "Recommended width 750. If mobile image is blank, dekstop image will be used"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "3 - Slideshow (Only Image)",     
      "settings": {
        "autoplay": true,
        "speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
