{%- capture infoBanner -%}
<div class="content-indent wr{{ section.id }} {{ section.settings.top-offeset}}" id="carousel-{{section.id}}" data-section-id="{{section.id}}" data-section-type="quotes">
	{% if section.settings.section_cov %}<div class="section-cover" style="background-color:{{section.settings.sec_bg_clr}};">{% endif%}
	{% unless section.settings.section_width %}<div class="page-width">{% endunless %}

	{% if section.settings.enable_carousel %}<div id="Quotes-{{section.id}}" data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":{{section.settings.arrow}},{%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "autoplay":{{section.settings.autoplay}}, "autoplaySpeed":{{section.settings.autoplay_speed | times: 1000}} }'>{% endif %}

  	{% for block in section.blocks limit: section.blocks.size %}
 		{% assign box-delay = forloop.index | minus:1 %}
  		{% assign delay_time = 50 | times : box-delay %}
	{% if section.settings.enable_carousel %}<div class="slide quotes_sl-{{block.id}}{% unless forloop.first %} slick-slide{% endunless %}" {{ block.shopify_attributes }}>{% endif %}
  <div class="ft_row fl f-aist f-jcsb w_100 row-{{ block.id }}" data-wow-delay="{{delay_time}}ms" {{ block.shopify_attributes }}>
    <div class="row_item of_hidden fl fl1 w_100 f-aic jcc row_img{% if block.settings.layout == 'right' %} order1{% endif %}">
      {% if block.settings.image != blank %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% if block.settings.button_link != blank %}<a class="db w_100" href="{{ block.settings.button_link}}">{% endif %}
            <div class="imgWrapper w_100" style="max-width:{{ block.settings.image.width }}px;">
              <div class="bgImg lazyload" data-bgset="{% render 'prgrid-img', image: block.settings.image, sizes: '380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;"></div>
            </div>
        {% if block.settings.button_link != blank %} </a> {% endif %}
      {% else %}
         {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <div class="row_item of_hidden fl fl1 w_100 f-aic row_text">
      <div class="row-text {{block.settings.text_align}}">
        {% if block.settings.title != blank %}<h3 class="mb15">{{ block.settings.title }}</h3>{% endif %}
        {% if block.settings.text != blank %}<div class="rte rte-setting">{{ block.settings.text }}</div>{% endif %}

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        	<a href="{{ block.settings.button_link }}" class="btn {{section.settings.btn-size}}">{{ block.settings.button_label }}</a>
        {% endif %}
      </div>
    </div>
  </div>        
  {% if section.settings.enable_carousel %}</div>{% endif %}
  {% endfor %}  

  {% if section.settings.enable_carousel %}</div>{% endif %}

  {% for block in section.blocks limit: section.blocks.size %}            
  <style type="text/css">
    .row-{{ block.id }} { background-color:{{block.settings.text_bg_clr}};}
    .row-{{ block.id }} .row-text * { color:{{block.settings.text_clr}}; }
    .row-{{ block.id }} .btn { margin-top:{{section.settings.btn-mr}}px; background:{{block.settings.button_bg_clr}}; color:{{block.settings.button_text_clr}};}
    .row-{{ block.id }} .btn:hover {opacity:0.9;}
    #Quotes-{{section.id}} .slick-arrow:before{ color:{{ section.settings.q_arrow}}  }
    
      @media only screen and (max-width:999px){
        .row-{{ block.id }} { max-width:{{ block.settings.image.width }}px; margin:0 auto  }
      }
     @media only screen and (max-width:767px){
       .row-{{ block.id }} .btn {  margin-top:{{section.settings.btn-mrm}}px  }
     }
  </style>
  {% endfor %}  


  {% unless section.settings.section_width %} </div>{% endunless %}
  {% if section.settings.section_cov %}</div> {% endif%}
</div>
{%- endcapture -%}
{{infoBanner | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
{
	"name": "Image with Text - 2 Col",
	"class": "index-section image-with-text",
	"settings":[	  	 
		{
			"type": "select",
			"id": "top-offeset",
			"label": "Top OffSet",
			"default": "default",
			"options": [
				{ "value": "default", "label": "Default" },
				{ "value": "small", "label": "Small" },
				{ "value": "none", "label": "None" }
			]
		},
	{
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	},
	{
		"type": "checkbox",
		"id": "section_cov",
		"label": "Add Background?",
		"default": false
	},
	{
		"type": "color",
		"id": "sec_bg_clr",
		"label": "Background",
		"default":"#fafafa",
		"info":"select light color"
	},	
	{
		"type": "select",
		"id": "btn-size",
		"label": "Button Size",
		"default": "btn-med",
		"options": [
			{ "label": "Small", "value": "btn-small" },
			{ "label": "Medium", "value": "btn-med" },
			{ "label": "Large", "value": "btn-large" } 		  
		]
	},
	{
		"type": "range",
		"id": "btn-mr",
		"label": "Buttons top offset",
		"default": 20,
		"min": 10,
		"max": 50,
		"step": 1,
		"unit":"px"
	},
	{
		"type": "range",
		"id": "btn-mrm",
		"label": "Buttons top offset (mobile)",
		"default": 15,
		"min": 10,
		"max": 50,
		"step": 1,
		"unit":"px"
	},	
	{
		"type":"header",
		"content":"Slider Settings ==="	
	},  
	{
		"type":"checkbox",
		"id":"enable_carousel",
		"label":"Enable Slider",
		"default": false
	},
	{
		"type": "checkbox",
		"id": "autoplay",
		"label": "Auto-rotate slides",
		"default": false
	},
	{
		"type": "range",
		"id": "autoplay_speed",
		"label": "Autoplay Speed in Seconds",
		"default": 5,
		"min": 1,
		"max": 30,
		"step": 1
	},
	{
		"type": "checkbox",
		"id": "arrow",
		"label": "Show Next/Previous Arrows?",
		"default": true
	},
	{
		"type": "checkbox",
		"id": "arrow_m",
		"label": "Hide on mobile?",
		"default": true
	},
	{
		"type": "color",
		"id": "q_arrow",
		"label": "Arrows Color",
		"default": "#eee"
	},
	{
		"type": "paragraph",      
		"content": "Set font size from --> Theme Settings --> Fonts and Colors --> Banner With Text"
	}
	],
	"blocks":[
		{
		"type": "image_with_text",
		"name": "Block",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},  
			{
				"type": "select",
				"id": "layout",
				"label":"Image alignment",
				"default": "left",
				"options": [
					{ "value": "left","label":"Left"},
					{ "value": "right","label":"Right"}
				]
			},	  
			{
				"type": "textarea",
				"id": "title",
				"label": "Heading",
				"default": "Spring Summer New Arrival",
				"info":"Use <strong>text here</strong> to make it bold"
			},
			{
				"type": "richtext",
				"id": "text",
				"label": "Text",
				"default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
			},
			{
				"type": "text",
				"id": "button_label",
				"label": "Button label",
				"default":"Shop Collection"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button link",
				"default":"/"
			},
			{
				"type": "select",
				"id": "text_align",
				"label": "Text Align",
				"default": "tl",
				"options": [
					{ "value": "tl", "label": "Left" },
					{ "value": "tc", "label": "Center" },
					{ "value": "tr", "label": "Right" }
				]
			},
			{
				"type": "header",
				"content": "Appearance Text ==="
			},
			{
				"type": "color",
				"id": "text_clr",
				"label": "Text Color",
				"default": "#000"
			},
			{
				"type": "color",
				"id": "text_bg_clr",
				"label": "Background Color",
				"default": "#eee"
			},
			{
				"type": "color",
				"id": "button_bg_clr",
				"label": "Button Background Color",
				"default":"#000"
			},	 
			{
				"type": "color",
				"id": "button_text_clr",
				"label": "Button Text Color",
				"default":"#fff"
			}
		]
		}
	],
	"presets": [
		{
			"name": "4 - Image & Text (2 Columns)",		
			"blocks":[
				{
					"type": "image_with_text"
				}          
			]
		}
	]
}
{% endschema %}