<div class="clr-header">
  <div class="password-header">  
    {% if section.settings.logo %}
      <a href="/" itemprop="url" class="m0">
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
    {% else %}
    	<h1 class="m0" href="/" itemprop="url"><span class="logo">{{ shop.name }}</span></h1>
    {% endif %}
    {%- if shop.password_message != blank -%}<div class="password-content tc">{{ shop.password_message }}</div>{%- endif -%}

    <div>
      <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">{{ 'general.password_page.password_link' | t }} <i class="at at-long-arrow-alt-right" aria-hidden="true"></i></a>
    </div>

  </div>
</div>
<div class="password-main h_100 fl f-jcc f-aic" role="main">
        <div class="passCnt tc">  
          <h2 class="password__title">{{ section.settings.header }}</h2>
          {% if section.settings.hero_dealtimer %}
          	<div class="atCounter fl f-jcc tc ht{{section.id}} mb20" data-date="{{section.settings.cnt_date}}">
                <span><span class="tm days">00</span>{{'date_formats.short_names.days' | t}}</span>
                <span><span class="tm hours">00</span>{{ 'date_formats.short_names.hours' | t }}</span>
                <span><span class="tm minutes">00</span>{{'date_formats.short_names.minuts' | t}}</span>
                <span><span class="tm seconds">00</span>{{'date_formats.short_names.seconds' | t}}</span>
          	</div>
          {% endif %}
          {% if section.settings.newsletter_enable %}
              {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p class="form--success">{{ 'general.password_page.signup_form_success' | t }}</p>
                {% else %}
                  {% if section.settings.newsletter_form_heading != blank %}<p class="nwTxt mb20">{{ section.settings.newsletter_form_heading }}</p>{% endif %}
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <label for="email" class="hidden_txt">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                  <div class="input-group password_input mb20">
                    <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
                    <span class="input-group__btn">
                      <button type="submit" name="commit" class="btn">{{ section.settings.newsletter_button_text | escape }}</button>
                    </span>
                  </div>
                {% endif %}
              {% endform %}
          {% endif %}  
        </div>
</div>
<div class="clr-footer">
  <div class="password-footer tc">  
    {% if section.settings.show_share_buttons %}    
    	<p class="mb10">{{ section.settings.social_message | escape }}</p>
    	<div class="mb20">{% include 'social-sharing' %}</div>
    {% endif %}    
    
    <div class="admin-login">
      {% if section.settings.show_powered_by %}
      	{% capture shopify %}<a class="tdu shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">Shopify</a>{% endcapture %}
      	<p class="mb5"><small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small></p>
      {% endif %}
      <small>{{ 'general.password_page.admin_link_html' | t }}</small>
    </div>
  </div>
</div>
<style type="text/css">
  {% if section.settings.image != blank %}
  	body, #LoginModal { background:url('{{ section.settings.image | img_url: '2000x' }}') no-repeat center {{ section.settings.alignment }}/cover {{section.settings.bgclr}}; }
  {% else %}
  	body, #LoginModal { background-color:{{section.settings.bgclr}}; }
  {% endif %}
  
  .password-header { padding:10px 15px; min-height: {{section.settings.header_h}}px; display: flex; justify-content:space-between; max-width:1200px; align-items:center; margin:0 auto;}
  .clr-header { color:{{section.settings.header-text}}; background-color:rgba({{section.settings.header-bg | color_to_rgb | remove:'rgb(' | remove: ')' }},{{ section.settings.hdbg_opt}}); }
  
  .password__title { color:{{section.settings.header-ft}}; font-size:{{section.settings.hd2_fs}}px; font-family:var(--ft1); font-weight:{{section.settings.hd2_fsw}}; line-height:1.1; margin-bottom:40px; }
  .nwTxt { color:{{section.settings.header-nwft}}; }
  
  @media only screen and (max-width:766px){
    .password__title { font-size:{{section.settings.hd2_fsmb}}px; margin-bottom:25px; }
    .password-header {flex-direction:column; padding:15px;}
  } 
  .atCounter { margin-bottom:30px; }
  .atCounter > span { font-size:13px; line-height:1.2; border-radius:{{section.settings.b_rad}}px; text-transform:uppercase; font-weight:600; padding:10px 12px;
    color:{{section.settings.cnt_text}}; background:{{section.settings.cnt_bg}}; border:1px dashed {{section.settings.cnt_bdr}}
    {% if section.settings.b_rad == 50 %} padding:8px; height:75px; width:75px; {% endif %}
  }
  
  .atCounter .tm { font-size:22px; font-weight:700; }
  
  .password-footer {max-width:1200px; margin:0 auto; min-height:80px; display:flex; flex-direction:column;} 
  .password-footer .at , .admin-login a {color:{{section.settings.footer-text}};}
  .password-footer .share-title {display:none;}
  .clr-footer { color:{{section.settings.footer-text}}; padding:20px 15px; background:rgba({{section.settings.footer-bg | color_to_rgb | remove:'rgb(' | remove: ')' }},{{ section.settings.ftbg_opt}});}
  
  .passCnt { position:relative; z-index:2; padding:50px 10px; max-width:600px; margin:auto; } 
  .passCnt .errors {max-width:300px; margin:0 auto; }
</style>
{% schema %}
  {
    "name": "Password Page",
	"class": "fl f-col h_100",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image",
		"info": "Recommended width 2000 x 1000 px"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image Alignment",
        "default": "center",
        "options": [
          { "value": "top", "label":"Top" },
          { "value": "center", "label": "Middle" },
          { "value": "bottom", "label": "Bottom" }
        ]
      },
      {
        "type": "color",
        "id": "bgclr",
        "label": "Background",
        "default": "#fff"
      },
	  {
		"type":"header",
		"content": "Header"
	  },
	  {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
 		{
        "type": "text",
        "id": "header_h",
        "label": "Header minimum height (in pixels)",
        "default": "90"
      },
	  {
        "type": "color",
        "id": "header-text",
        "label": "Text",
        "default": "#111"
      },
	  {
        "type": "color",
        "id": "header-bg",
        "label": "Background",
        "default": "#f5f5f5"
      },
      {
          "type": "range",
          "id": "hdbg_opt",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Background Opacity",
          "unit": "%",
          "default": 0.9
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      },
	  {
        "type": "color",
        "id": "header-ft",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "hd2_fs_font",
        "label": "Title Font",
        "default": "ft1",
        "options": [
          {
            "value": "ft1",
            "label": "Font 1"
          },
          {
            "value": "ft2",
            "label": "Font 2"
          },
          {
            "value": "ft3",
            "label": "Font 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "hd2_fsw",
        "label": "Font Weight",
        "default": "700",
        "options": [
          { "value":"300", "label":"Light" },
          { "value":"400", "label":"Regular" },
          { "value":"600", "label":"Semi Bold" },
          { "value":"700", "label":"Bold" }
        ]
      },		
      {
        "type": "range",
        "id": "hd2_fs",
        "label": "Font Size",
        "default": 24,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },		
      {
        "type": "range",
        "id": "hd2_fsmb",
        "label": "Font Size (Mobile)",
        "default": 20,
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "textarea",
        "id": "newsletter_form_heading",
        "label": "Newsletter Text",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
	  {
        "type": "color",
        "id": "header-nwft",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Button text",
        "default": "Notify me"
      },
	  {
        "type": "header",
        "content": "Countdown Timer"
      },
 	  {
		"type":"checkbox",
		"id":"hero_dealtimer",
		"label":"Display?",
		"default": false,
		"info":"please click save button to view"
	  },
	  {
        "type": "text",
        "id": "cnt_date",
        "label": "Enter Date",
        "info": "Date Formate should be Month\/Day\/Year.i.e mm\/dd\/year, 11\/25\/2020",
        "default": "12\/20\/2020"
      },
      {
        "type": "color",
        "id": "cnt_bg",
        "label": "Background",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "cnt_text",
        "label": "Text",
        "default": "#eee"
      },
      {
        "type": "color",
        "id": "cnt_bdr",
        "label": "Border",
        "default": "#000"
      },
	  {
          "type": "range",
          "id": "b_rad",
          "min": 0,
          "max": 50,
          "step": 1,
          "label": "Border Radious",
          "unit": "px",
          "default": 0
      },
	  {
		"type":"header",
		"content": "Footer"
	  },
	   {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing heading",
        "default": "Spread the word"
      },
		{
        "type": "checkbox",
        "id": "show_powered_by",
        "label": "Show powered by text?",
        "default": false
      },
	  {
        "type": "color",
        "id": "footer-text",
        "label": "Text",
        "default": "#111"
      },  
	  {
        "type": "color",
        "id": "footer-bg",
        "label": "Background",
        "default": "#f5f5f5"
      },
      {
          "type": "range",
          "id": "ftbg_opt",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Background Opacity",
          "unit": "%",
          "default": 0.9
      }
    ]
  }
{% endschema %}
