{%- capture relatedProducts -%}

{% if section.settings.show_related_products == true %}

{%- case section.settings.grid -%}
  {%- when 2 -%}{%- assign grid_ds = 'large-up--one-half' -%}{%- assign image_size = '150,350,550,750,950' -%}
  {%- when 3 -%}{%- assign grid_ds = 'large-up--one-third' -%}{%- assign image_size = '150,350,550,750' -%}
  {%- when 4 -%}{%- assign grid_ds = 'large-up--one-quarter' -%}{%- assign image_size = '150,350,550,750' -%}
  {%- when 5 -%}{%- assign grid_ds = 'large-up--one-fifth' -%}{%- assign image_size = '150,350,550' -%}
  {%- when 6 -%}{%- assign grid_ds = 'large-up--one-sixth' -%}{%- assign image_size = '130,300,500' -%}
  {%- when 7 -%}{%- assign grid_ds = 'large-up--one-seventh' -%}{%- assign image_size = '130,280,400' -%}
{%- endcase -%}

{% case section.settings.tablet-grid %}
  {% when 2 %}{%- assign grid_tb = 'medium--one-half' -%}
  {% when 3 %}{%- assign grid_tb = 'medium--one-third' -%}
  {% when 4 %}{%- assign grid_tb = 'medium--one-quarter' -%}
  {% when 5 %}{%- assign grid_tb = 'medium--one-fifth' -%}
{% endcase %}

{% case section.settings.mobile-grid %}
  {% when 1 %}{%- assign grid_mb = 'small--one-whole' -%}
  {% when 2 %}{%- assign grid_mb = 'small--one-half' -%}
  {% when 3 %}{%- assign grid_mb = 'small--one-third' -%}
{% endcase %}

<div class="related-product mb30" id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="carousel">
  <div class="page-width{% if settings.product_fullwidth %} fullwidth{% endif %}">
  
 {% assign cProduct = product %}
    {% if section.settings.type == '1' %}
		{%- liquid
        	assign number_of_rows = section.settings.related_total_product_to_show | plus:1
		  	assign exclusions = 'frontpage,all' | split: ','
			assign found_a_collection = false
            assign same_vendor = false
			assign same_type = false
    		
            if collection and collection.all_products_count > 1
        		unless exclusions contains collection.handle
        			assign found_a_collection = true
        		endunless
      		endif
      		unless found_a_collection
        		for c in product.collections limit: number_of_rows
          			unless exclusions contains c.handle or c.all_products_count < 2
                      assign found_a_collection = true
                      assign collection = c
                      break
          			endunless
        		endfor
      		endunless
		-%}

        {% if found_a_collection %}
          {%- capture related_items -%}
                {% for product in collection.products limit : number_of_rows %}
                  {% unless product.handle == cProduct.handle %}
                      {% unless same_vendor and current_product.vendor != product.vendor %}
                      	  {% unless same_type and current_product.type != product.type %}
                              <div class="grid__item {{ grid_mb }} {{ grid_tb }} {{grid_ds}}">{% include 'product-card-grid', grid_image_width: image_size %}</div>
                          {% endunless %}
                      {% endunless %}
                  {% endunless %}
                {% endfor %}
          {%- endcapture -%}
        {% endif %}
    {% elsif section.settings.type == '2' %}
      {%- capture related_items -%}
      {% for product in product.metafields.custom.related_products.value %}
        <div class="grid__item {{ grid_mb }} {{ grid_tb }} {{grid_ds}}">{% include 'product-card-grid', sizes: image_size %}</div>
      {% endfor %}
      {%- endcapture -%}
    {% elsif section.settings.type == '3' %}
    	{% assign number_of_rows = section.settings.related_total_product_to_show | plus:0 %}
    	{% assign prCount = 0 %}
        {% paginate collections.all.products by 1000 %}
    	  {%- capture related_items -%}
                {% for product in collections.all.products %}
                  	{% if product.handle != cProduct.handle and product.type == cProduct.type %}
    					<div class="grid__item {{ grid_mb }} {{ grid_tb }} {{grid_ds}}">{% include 'product-card-grid', grid_image_width: image_size %}</div>
                  		{% assign prCount = prCount | plus: 1 %}
                  	{% endif %}
                  	{% if prCount == number_of_rows %}{% break %}{% endif %}
                  {% endfor %}
    		{%- endcapture -%}
        {% endpaginate %}
    {% elsif section.settings.type == '4' %}
    	{% assign number_of_rows = section.settings.related_total_product_to_show | plus:0 %}
    	{% assign prCount = 0 %}
        {% paginate collections.all.products by 1000 %}
    	  {%- capture related_items -%}
                {% for product in collections.all.products %}
                  	{% if product.handle != cProduct.handle and product.vendor == cProduct.vendor %}
    					<div class="grid__item {{ grid_mb }} {{ grid_tb }} {{grid_ds}}">{% include 'product-card-grid', grid_image_width: image_size %}</div>
                  		{% assign prCount = prCount | plus: 1 %}
                  	{% endif %}
                  	{% if prCount == number_of_rows %}{% break %}{% endif %}
                  {% endfor %}
    		{%- endcapture -%}
        {% endpaginate %}
    {% endif %}

      {% assign related_items = related_items | trim %}
      {% unless related_items == blank %}
        {% unless section.settings.related_title == blank %}
          <div class="sec-ttl {{ settings.title_align}}">
            <h3 class="h3">{{ section.settings.related_title | escape }}</h3>
            {%- if section.settings.related_sub_title != blank -%}<span>{{section.settings.related_sub_title}}</span>{%- endif -%}        
          </div> 
       	{% endunless %}
      <div id="products-{{ section.id }}">
        <div id="pr_slider-{{ section.id }}" class="grid-products carousel arwOut" data-slick='{"slidesToShow": {{ section.settings.grid }},"slidesToScroll": 1, {%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.tablet-grid }} }},{"breakpoint": 767,"settings":{"slidesToShow":{{ section.settings.mobile-grid }} }} ]}'>
          {{ related_items }}
        </div>      
      </div>
      {% endunless %}  

      
  </div>
</div>
{% endif %}
{%- endcapture -%}
{{ relatedProducts | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Related Products",
    "settings": [
		{
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": false
      },
	 {
        "type": "checkbox",
        "id": "related_products_autoplay",
        "label": "Carousel Autoplay",
        "default": true
      },
 	 {
        "id": "related_title",
        "type": "text",
        "label": "Section Title",
        "default": "Related Products"
      },
 	  {
        "id": "related_sub_title",
        "type": "text",
        "label": "Section Sub title"
       
      },
        {
        "type": "select",
        "id": "type",
        "label": "Display Products",
        "options": [
          { "value":"1", "label": "By Collection" },
          { "value":"2", "label": "By Metafields" },
          { "value":"3", "label": "By Product Type" },
          { "value":"4", "label": "By Product Vendor" }
        ],
        "default": "1",
		"info": "[How this work?](https://www.adornthemes.com/knowledge-base/related-products-shopify/)"
      },
      {
        "type": "paragraph",
        "content": "Products Per Row"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 4,
        "min": 2,
        "max": 7,
        "step": 1
      },
      {
        "type": "range",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": 3,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": 2,
        "min": 1,
        "max": 3,
        "step": 1
      },
      {
        "type": "text",
        "id": "related_total_product_to_show",
        "label": "Number of Product to Show",
        "default": "6"        
      }
	]
  }
{% endschema %}