{%- capture storeFeatures -%}
<div class="content-indent {{ section.settings.top-offeset}}{% if section.settings.hide_mobile %} small--hide{% endif %}">  
  {% if section.settings.section_cov %} <div class="section-cover sc{{section.id}}" style="background-color:{{section.settings.sec_bg_clr}};"> {% endif%}
  	<div class="page-width wow fadeIn">       
   
   {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
      <div class="sec-ttl {{ settings.title_align}}">
      <h3 class="h3">{{ section.settings.title }}</h3>     
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}
    </div>
   {% endif %}
      
	{% case section.settings.grid %}
        {% when 1 %}{%- assign grid_ds = 'large-up--one-whole' -%}
        {% when 2 %}{%- assign grid_ds = 'large-up--one-half' -%}
        {% when 3 %}{%- assign grid_ds = 'large-up--one-third' -%}
        {% when 4 %}{%- assign grid_ds = 'large-up--one-quarter' -%}
      	{% when 5 %}{%- assign grid_ds = 'large-up--one-fifth' -%}
        {% when 6 %}{%- assign grid_ds = 'large-up--one-sixth' -%}
      	{% when 7 %}{%- assign grid_ds = 'large-up--one-seventh' -%}
        {% when 8 %}{%- assign grid_ds = 'large-up--one-eighth' -%}
   	{% endcase %}
	{% case section.settings.tablet-grid %}
        {% when 1 %}{%- assign grid_tb = 'medium--one-whole' -%}
        {% when 2 %}{%- assign grid_tb = 'medium--one-half' -%}
        {% when 3 %}{%- assign grid_tb = 'medium--one-third' -%}
      	{% when 4 %}{%- assign grid_tb = 'medium--one-quarter' -%}
    {% endcase %}
	{% case section.settings.mobile-grid %}
    	{% when 1 %}{%- assign grid_mb = 'small--one-whole' -%}
        {% when 2 %}{%- assign grid_mb = 'small--one-half' -%}
        {% when 3 %}{%- assign grid_mb = 'small--one-third' -%}
	{% endcase %}

      <ul class="fl f-wrap store-info si{{section.id}} {{section.settings.style}}{% if section.settings.style == 'stl1' or section.settings.style == 'stl4'%} tc{% endif %}">
          {% for block in section.blocks limit: section.blocks.size %}
          <li class="{{grid_mb}} {{grid_tb}} {{grid_ds}}">
            <a{% if section.settings.style == 'stl2' or section.settings.style == 'stl3'%} class="fl"{% endif %}{% if block.settings.texturl != blank %} href="{{block.settings.texturl}}"{% endif %}>
                {% if section.settings.icon-type == 'image' %}
              		<span class="at tc" {% if section.settings.style != 'stl4'%}style="max-width:{{section.settings.iconsize}}px;"{% endif%}><img class="img_fl lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{block.settings.image | img_url: '200x' }}" width="{{section.settings.iconsize}}" height="{{section.settings.iconsize}}" /></span>
                {% else %}
               	 <i class="at {{ block.settings.icons}} mb20" aria-hidden="true"></i>
                {% endif %}
            	<div class="text">
                	{% if block.settings.title %}<div class="block_ttl {{section.settings.ttlsize}}">{{ block.settings.title}}</div>{% endif %}
                    {% if section.settings.style != 'stl3' %}
                		{% if block.settings.text %}{{ block.settings.text}}{% endif %}
                    {% endif %}
            	</div>
            </a> 
          </li>
          {% endfor %}
      </ul>
      {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
      {% endif %} 
  </div>
  {% if section.settings.section_cov %} </div> {% endif%}
</div>

<style>
  .sc{{section.id}} {padding-top: {{ section.settings.tb_pad }}%; padding-bottom: {{ section.settings.tb_pad }}%;  }
  .si{{section.id}} .at { width:{{section.settings.iconsize | plus: 10}}px; color:{{ section.settings.icons_clr }}; font-size:{{section.settings.iconsize}}px; }
  .si{{section.id}} .text, .si{{section.id}} a { color:{{ section.settings.text_clr }}  } 
  {% if section.settings.style == 'stl4'%}
  	.si{{section.id}}.stl4 .at { background:{{ section.settings.icons_bg_clr }}; width:{{section.settings.iconsize | plus: 35 }}px; height:{{section.settings.iconsize | plus: 35 }}px; line-height:{{section.settings.iconsize | plus: 32 }}px  }
  {% endif %}
</style>
{%- endcapture -%}
{{storeFeatures | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Icons with Text",
    "class": "index-section",
	"settings":[
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options":[
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },
		{
           "type": "checkbox",
           "id": "hide_mobile",
           "label": "Hide Section in Mobile?",
           "default": false
     	},
		{
        "type": "text",
        "id": "title",
        "label": "Heading"       
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Heading"         
         }, 		
		 {
            "type": "select",
            "id": "style",
            "label": "Select Style",
            "default": "stl1",
			"info":"[preview style](https://optimal-demos.myshopify.com/pages/icon-with-text)",
            "options": [
              {
                "value": "stl1",
                "label": "Style 1"
              },
              {
                "value": "stl2",
                "label": "Style 2"
              },
			  {
                "value": "stl3",
                "label": "Style 3 : Display One Line Text "
              },
			  {
                "value": "stl4",
                "label": "Style 4 : Icons with Background"
              }	
			]
        },
		{
            "type": "select",
            "id": "icon-type",
            "label": "Icon Type",
            "default": "icon",
            "options": [
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "icon",
                "label": "Font Icon"
              }			  
			]
        },
       {
          "type": "range",
          "id": "iconsize",
          "label": "Icons Size",
          "default": 40,
          "min": 20,
          "max": 80,
          "step": 1,
          "unit": "px"
        },
		{
            "type": "select",
            "id": "ttlsize",
            "label": "Select Title font Size",
            "default": "h4",
            "options": [
              {
                "value": "h1",
                "label": "H1 size"
              },
			 {
                "value": "h2",
                "label": "H2 size"
              },
			  {
                "value": "h3",
                "label": "H3 size"
              },
 			  {
                "value": "h4",
                "label": "H4 size"
              },
 			  {
                "value": "h5",
                "label": "H5 size"
              },
			  {
                "value": "h6",
                "label": "H6 size"
              }
			]	
		  },
	   {
          "type": "range",
          "id": "tb_pad",
          "label": "Section Padding",
          "default": 1,
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "%",
		  "info":"Top bottom Padding"
        },	
      {
        "type": "paragraph",
        "content": "Features Per Row ==="
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 4,
        "min": 1,
        "max": 8,
        "step": 1
      },
      {
        "type": "range",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": 4,
        "min": 1,
        "max": 4,
        "step": 1
      },
      {
        "type": "range",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": 1,
        "min": 1,
        "max": 3,
        "step": 1
      },
		{
        "type": "header",
        "content":"Text Appearance"
        },
		{
            "type": "checkbox",
            "id": "section_cov",
            "label": "Add Background?",
            "default": true
        },
		 {
            "type": "color",
            "id": "sec_bg_clr",
            "label": "Background",
			"default":"#fafafa"	
		 },
		 {
            "type": "color",
            "id": "text_clr",
            "label": "Text",
			"default":"#111"	
		 },
        {
            "type": "color",
            "id": "icons_clr",
            "label": "Icons",
			"default":"#a9a9a9"	
		 },
 		{
            "type": "color",
            "id": "icons_bg_clr",
            "label": "Icons Background",
			"default":"#111",
			"info":"For style4 only"
		 }
		 
	],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [    
		 {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
			"info":"You need to select Icon Type 'Image' from section."
          },
          {
            "type": "text",
            "id": "icons",
            "label": "Icon class name",
			"default":"at-truck-l",
			"info":"[Find icons here](https://www.adornthemes.com/optimal-icons/)"
		  }, 		 
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
			"default": "<b>FEATURE TITLE TEXT</b>",
		    "info":"use <b>your text here</b> to make it bold"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default":"Add feature short description text here"
          },
		  {
            "type": "url",
            "id": "texturl",
            "label": "Url"            
          }   
         
        ]
      }
    ],
    "presets": [
      {
        "name": "5 - Icons & Text",        
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
 		 {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}