{%- capture ColumnsTopImage -%}
<div class="content-indent {{ section.settings.top-offeset}}{% if section.settings.hide_mobile %} small--hide{% endif %}">
   {% if section.settings.section_cov %}<div class="section-cover" style="background-color:{{section.settings.sec_bg_clr}};">{% endif%}
  	 <div class="page-width ft_col {{section.id}} fadeIn" data-wow-delay="100ms">

       {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
       <div class="sec-ttl {{ settings.title_align}} fadeIn">
         <h3 class="h3">{{ section.settings.title }}</h3>
         {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
       </div>
       {% endif %}          

    <div class="grid{% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {%- assign image_size = '500x' -%}
      {% case section.blocks.size %}
      {% when 1 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 4 %}
      {%- assign grid_item_width = 'medium-up--one-quarter' -%}
      {%- assign image_size = '530x' -%}
      {% when 8 %}
      {%- assign grid_item_width = 'medium-up--one-quarter' -%}
      {%- assign image_size = '300x' -%}
      {% endcase %}
      {% for block in section.blocks %}
      {% if section.blocks.size == 5 and forloop.index < 3 %}
      {%- assign column_width = 'medium-up--one-half' -%}
      {% else %}
      {%- assign column_width = grid_item_width -%}
      {% endif %}

      {%- assign collection_col = forloop.index | minus:1 -%}
      {%- assign delay_time = 100 | times : collection_col -%}

      <div class="grid__item {{ column_width }} {{ section.settings.align_text }} wow fadeIn" data-wow-delay="{{delay_time}}ms" {{ block.shopify_attributes }}>
        {% if block.settings.enable_image %}
          {% if block.settings.image != blank %}       
            {% if block.settings.button_link != blank %}<a href="{{ block.settings.button_link }}" class="top-img db">{% endif %}
        	<div class="imgWrapper" style="max-width:{{ block.settings.image.width }}px;">
            	<div class="bgImg lazyload" data-bgset="{% render 'prgrid-img', image: block.settings.image, sizes: '200,380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;"></div>
          	</div>
            {% if block.settings.button_link != blank %}</a>{% endif %}      
          {% else %}        
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}        
          {% endif %}        
        {% endif %}
        <div class="wrap-txt{% if section.settings.set_text_bg %} pd30{% endif %}">
            {% if block.settings.title != blank %}
              <h3 class="mb5">
                {% if block.settings.button_link != blank %}<a href="{{ block.settings.button_link }}">{% endif %}
                {{ block.settings.title }}
                {% if block.settings.button_link != blank %}</a>{% endif %}
              </h3>
            {% endif %}
          {% if block.settings.text != blank %}<div class="mb10">{{ block.settings.text }}</div>{% endif %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}" class="btn {{section.settings.btn-size}} {{section.settings.btn-style}}">{{ block.settings.button_label }}</a>
            {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}{% include 'no-blocks' %}{% endif %}
  </div>
   {% if section.settings.section_cov %}</div>{% endif%}
</div>

<style>
  .ft_col.{{section.id}} .wrap-txt { background:{{ section.settings.text_bg}};}
  .ft_col.{{section.id}} .wrap-txt h3, .wrap-txt p {  color:{{ section.settings.text_c}};}
  .ft_col.{{section.id}} .wrap-txt h3 {letter-spacing:0.0{{ section.settings.hd_ls}}em;}
 
  @media only screen and (min-width: 768px) {
     .ft_col.{{section.id}} .wrap-txt h3 { font-size:{{section.settings.hd_fs}}px;}
     .ft_col.{{section.id}} .wrap-txt p { font-size:{{section.settings.txt_fs}}px;}
  }
  @media only screen and (max-width: 767px) {
     .ft_col.{{section.id}} .wrap-txt h3 { font-size:{{section.settings.hd_fs_m}}px;}
     .ft_col.{{section.id}} .wrap-txt p { font-size:{{section.settings.txt_fs_m}}px;}        
  }
</style>
{%- endcapture -%}
{{ColumnsTopImage | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Columns with Top Image",
    "class": "index-section",
    "settings": [	
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Columns with Top Banners"
      },
	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products,collection, content etc..."
      },  
	 {
        "type": "header",
        "content": "Appearance Section ==="
      },
	  {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
			"info":" This leave space above section",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        }, 
 		{
           "type": "checkbox",
           "id": "hide_mobile",
           "label": "Hide Section in Mobile?",
           "default": false
        },	 
	  {
        "type": "checkbox",
        "id": "section_cov",
        "label": "Add Background?",
        "default": false
      },	
 	  {
        "type": "color",
        "id": "sec_bg_clr",
        "label": "Background",
		"default":"#fafafa",
		"info":"select light color"
	  }, 
 	 {
        "type": "header",
        "content": "Appearance Text ==="
      },
 	{
        "type": "select",
        "id": "align_text",
        "label": "Text Alignment",
        "default": "tl",
        "options": [
          {
            "value": "tl",
            "label": "Left"
          },
          {
            "value": "tc",
            "label": "Centered"
          },
		 {
            "value": "tr",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "hd_fs",
        "label": "Heading Font Size",
        "default": 16,
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px"
       },
 	  {
        "type": "range",
        "id": "hd_ls",
        "label": "Heading Letter Spacing",
        "default": 2,
        "min": 0,
        "max": 9,
        "step": 1,
        "unit": "em"
      },
	 {
        "type": "range",
        "id": "hd_fs_m",
        "label": "Heading Font Size (mobile)",
        "default": 15,
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px"
       }, 		
	  {
        "type": "range",
        "id": "txt_fs",
        "label": "Text Font Size",
        "default": 13,
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px"
       }, 		
	  {
        "type": "range",
        "id": "txt_fs_m",
        "label": "Text Font Size (mobile)",
        "default": 12,
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px"
       }, 	 
	 {
        "type": "checkbox",
        "id": "set_text_bg",
        "label": "Add Background?",
		"default":false	
	  },
		{
        "type": "color",
        "id": "text_bg",
        "label": "Background",
		"default":"#fff"	
	  },
    {
        "type": "color",
        "id": "text_c",
        "label": "Text",
		"default":"#212121"	
	  },
	  {
        "type": "select",
        "id": "btn-style",
        "label": "Select Button",
        "default": "btn1",
        "options": [
          {
            "label": "Solid Button 1",
            "value": "btn1"
          },
          {
            "label": "Solid Button 2",
            "value": "btn2"
          },
		  {
            "label": "Solid Button 3",
            "value": "btn3"
          },
 		  {
            "label": "Border Button 1",
            "value": "bdr-btn1"
          },
 		{
            "label": "Border Button 2",
            "value": "bdr-btn2"
          } 
        ]
        },
          {
            "type": "select",
            "id": "btn-size",
            "label": "Button Size",
            "default": "btn-med",
            "options": [
                {
                "label": "Small",
                "value": "btn-small"
                },
                {
                "label": "Medium",
                "value": "btn-med"
                },
                {
                "label": "Large",
                "value": "btn-large"
                } 		  
         	 ]
          }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
			"default": "<span class='fwsb'>Add a title or tagline</span>"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>",
			"info":"You can list point with <ul> tags"
	
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Text",
			"default":"View Collection"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
			"default":"/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "4 - Text Columns with Top Image",       
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
